<template>
  <div class="col-sm-12 col-lg-6 mb-3 mb-lg-5">
    <!-- Card -->
    <a class="card card-hover-shadow h-100 shadow-sm" href="#">
      <div class="card-body">
        <h6 class="card-subtitle d-flex justify-content-between align-items-center">{{ chart.title }} <span class="card-title fs-5 fw-bold text-info">72,540</span></h6>
        <div class="row align-items-center gx-2 mb-3">

          <div class="col-12">
            <!-- Chart -->
            <div class="chartjs-custom">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas :id="chart.name"></canvas>
            </div>
            <!-- End Chart -->
          </div>
        </div>
        <!-- End Row -->
        <span class="badge bg-soft-secondary text-secondary">Secondary</span>
        <span class="badge bg-soft-danger text-danger">Danger</span>
        <span class="badge bg-soft-success text-success">
          12.5%
        </span>
        <span class="text-body fs-6 ms-1">from 70,104</span>
      </div>
    </a>
    <!-- End Card -->
  </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
  props: {
    chart: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    loadChart() {
      const ctx = document.getElementById(this.chart.name);
      new Chart(ctx, this.chart);
    },
  },
  mounted() {
    this.loadChart();
  },
};
</script>