<template>
  <div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
      <h4 class="card-header-title">Audience overview <i class="tio-verified text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="This report is based on 100% of sessions."></i></h4>

      <!-- Unfold -->
      <div class="hs-unfold">
        <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                   &quot;target&quot;: &quot;#reportsOverviewDropdown2&quot;,
                   &quot;type&quot;: &quot;css-animation&quot;
                 }" data-hs-unfold-target="#reportsOverviewDropdown2" data-hs-unfold-invoker="">
          <i class="tio-more-vertical"></i>
        </a>

        <div id="reportsOverviewDropdown2" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1 hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" data-hs-target-height="248.031" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
          <span class="dropdown-header">Settings</span>

          <a class="dropdown-item" href="#">
            <i class="tio-share dropdown-item-icon"></i> Share reports
          </a>
          <a class="dropdown-item" href="#">
            <i class="tio-download-to dropdown-item-icon"></i> Download
          </a>
          <a class="dropdown-item" href="#">
            <i class="tio-alt dropdown-item-icon"></i> Connect other apps
          </a>

          <div class="dropdown-divider"></div>

          <span class="dropdown-header">Feedback</span>

          <a class="dropdown-item" href="#">
            <i class="tio-chat-outlined dropdown-item-icon"></i> Report
          </a>
        </div>
      </div>
      <!-- End Unfold -->
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-lg">
          <!-- Stats -->
          <div class="media align-items-center">
            <i class="tio-user-big-outlined tio-xl text-primary mr-3"></i>

            <div class="media-body">
              <span class="d-block font-size-sm">Users</span>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">34,413</h3>
                <span class="badge badge-soft-success ml-2">
                  <i class="tio-trending-up"></i> 12.5%
                </span>
              </div>
            </div>
          </div>
          <!-- End Stats -->

          <div class="d-lg-none">
            <hr>
          </div>
        </div>

        <div class="col-sm-6 col-lg column-divider-lg">
          <!-- Stats -->
          <div class="media align-items-center">
            <i class="tio-time-20-s tio-xl text-primary mr-3"></i>

            <div class="media-body">
              <span class="d-block font-size-sm">Avg. session duration</span>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">1m 3s</h3>
              </div>
            </div>
          </div>
          <!-- End Stats -->

          <div class="d-lg-none">
            <hr>
          </div>
        </div>

        <div class="col-sm-6 col-lg column-divider-lg">
          <!-- Stats -->
          <div class="media align-items-center">
            <i class="tio-pages-outlined tio-xl text-primary mr-3"></i>

            <div class="media-body">
              <span class="d-block font-size-sm">Pages/Sessions</span>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">1.78</h3>
              </div>
            </div>
          </div>
          <!-- End Stats -->

          <div class="d-sm-none">
            <hr>
          </div>
        </div>

        <div class="col-sm-6 col-lg column-divider-lg">
          <!-- Stats -->
          <div class="media align-items-center">
            <i class="tio-chart-donut-2 tio-xl text-primary mr-3"></i>

            <div class="media-body">
              <span class="d-block font-size-sm">Bounce rate</span>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">62.9%</h3>
              </div>
            </div>
          </div>
          <!-- End Stats -->
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Body -->

    <!-- Vector Map -->
    <div style="height: 30rem;">
      <div id="worldMap">

      </div>

    </div>
  </div>
</template>


<script>
var $ = require("jquery");
var $mountNode = $(
  '[data-preview="jvectormap-next"] [data-testid="mountNode"]'
);
$mountNode.empty().css("height", 500);
// load jvectormap jquery plugin + map content
require("jvectormap-next")($);
$.fn.vectorMap("addMap", "world_mill", require("../../assets/map.js"));

export default {
  mounted() {
    this.initMap();
  },
  methods: {
    initMap() {
      const wMap = $("#worldMap");
      wMap.empty();
      wMap.vectorMap({
        map: "world_mill",
        backgroundColor: "#132144",
        zoomOnScroll: false,
        zoomButtons: true,
        tipCentered: true,
        focusOn: {
          x: 0.5,
          y: 0.5,
          scale: 1.5,
        },
        regionalStyle: {
          initial: {
            fill: "rgba(55, 125, 255, .3)",
          },
        },
        hover: {
          fill: "#377dff",
        },
        markerStyle: {
          initial: {
            strokeWidth: 0,
            fill: "rgba(255,255,255,.5)",
            stroke: "rgba(255,255,255,.5)",
            r: 6,
          },
          hover: {
            strokeWidth: 0,
            fill: "#fff",
            stroke: "#fff",
          },
        },
      });
    },
  },
};
</script>