<template>
  <!-- Card -->
  <div class="card h-100 shadow-sm">
    <!-- Header -->
    <div class="card-header">
      <h5 class="card-header-title">Transactions</h5>

    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <ul class="list-group list-group-flush list-group-no-gutters">
        <li class="list-group-item py-3">
          <h5 class="modal-title">Approve orders</h5>
        </li>

        <!-- List Group Item -->
        <li class="list-group-item py-3">
          <div class="media">
            <div class="mt-1 mr-3">
              <img class="avatar avatar-xs avatar-4by3" src="" alt="Image Description">
            </div>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Capsule</h5>
                  <span class="d-block font-size-sm">Users</span>
                </div>

                <div class="col-auto">
                  <a class="btn btn-sm btn-primary" href="#" title="Launch importer" target="_blank">
                    Approve
                  </a>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
        </li>
        <!-- End List Group Item -->
      </ul>

    </div>
    <!-- End Body -->
  </div>
</template>