<template>
  <!-- Card -->
  <div class="card h-100 shadow-sm">
    <!-- Header -->
    <div class="card-header">
      <h5 class="card-header-title">Reports overview</h5>

      <!-- Unfold -->
      <div class="hs-unfold">
        <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                       &quot;target&quot;: &quot;#reportsOverviewDropdown1&quot;,
                       &quot;type&quot;: &quot;css-animation&quot;
                     }" data-hs-unfold-target="#reportsOverviewDropdown1" data-hs-unfold-invoker="">
          <i class="tio-more-vertical"></i>
        </a>

        <div id="reportsOverviewDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1 hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" data-hs-target-height="243" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
          <span class="dropdown-header">Settings</span>

          <a class="dropdown-item" href="#">
            <i class="tio-share dropdown-item-icon"></i> Share reports
          </a>
          <a class="dropdown-item" href="#">
            <i class="tio-download-to dropdown-item-icon"></i> Download
          </a>
          <a class="dropdown-item" href="#">
            <i class="tio-alt dropdown-item-icon"></i> Connect other apps
          </a>

          <div class="dropdown-divider"></div>

          <span class="dropdown-header">Feedback</span>

          <a class="dropdown-item" href="#">
            <i class="tio-chat-outlined dropdown-item-icon"></i> Report
          </a>
        </div>
      </div>
      <!-- End Unfold -->
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <span class="h1 d-block mb-4">$7,431.14 USD</span>

      <!-- Progress -->
      <div class="progress rounded-pill mb-2">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gross value"></div>
        <div class="progress-bar opacity" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="" data-original-title="Net volume from sales"></div>
        <div class="progress-bar opacity-xs" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="" data-original-title="New volume from sales"></div>
      </div>

      <div class="d-flex justify-content-between mb-4">
        <span>0%</span>
        <span>100%</span>
      </div>
      <!-- End Progress -->

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-lg table-nowrap card-table mb-0">
          <tbody>
            <tr>
              <th scope="row">
                <span class="legend-indicator bg-primary"></span>Gross value
              </th>
              <td>$3,500.71</td>
              <td>
                <span class="badge badge-soft-success">+12.1%</span>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <span class="legend-indicator bg-primary opacity"></span>Net volume from sales
              </th>
              <td>$2,980.45</td>
              <td>
                <span class="badge badge-soft-warning">+6.9%</span>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <span class="legend-indicator bg-primary opacity-xs"></span>New volume from sales
              </th>
              <td>$950.00</td>
              <td>
                <span class="badge badge-soft-danger">-1.5%</span>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <span class="legend-indicator"></span>Other
              </th>
              <td>32</td>
              <td>
                <span class="badge badge-soft-success">1.9%</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Table -->
    </div>
    <!-- End Body -->
  </div>
</template>