<template>
  <div class="d-block text-center">
    <!-- HEADER -->
    <build-header :userName="username"></build-header>

    <!-- USER -->
    <build-user-data :userData="returnLink"></build-user-data>

    <!-- BLOCKS -->
    <build-blocks :userName="username"></build-blocks>
  </div>
</template>

<script>
import BuildUserData from "./partials/BuildUserData.vue";
import BuildHeader from "./partials/BuildHeader.vue";
import BuildBlocks from "./partials/BuildBlocks.vue";
import LinkService from "../../services/links.js";
import { useToast } from "vue-toastification";

export default {
  components: {
    BuildUserData,
    BuildBlocks,
    BuildHeader,
  },
  data() {
    return {
      toast: useToast(),
      linkId: this.$route.params.id,
      link: {},
    };
  },
  methods: {
    async getLink() {
      if (!this.linkId) {
        return;
      }
      try {
        await LinkService.getLink(this.linkId).then(
          (response) => (this.link = response.data.data)
        );
      } catch (error) {
        this.toast.error(error.message || "Failed to authenticate.");
      }
    },
  },
  computed: {
    username() {
      return this.link.username;
    },
    returnLink() {
      return this.link;
    },
  },
  mounted() {
    this.getLink();
  },
};
</script>


