$color-white: #ffffff;
$color-black: #000000;

$color-yellow: #fdbf35;
$color-pink: #fc3f9d;
$color-purple: #8631cc;
$color-blue: #030b74;
$color-turquise: #7aeefe;

$color-purple-opacity: rgba($color-purple, 0.2);

$color-border-bottom-blue-opacity: rgba(3, 11, 116, 0.3);
$color-border-blue-opacity: rgba(3, 11, 116, 0.3);
$color-border-turquiose-opacity: rgba(122, 238, 254, 0.3);
$color-border-purple-opacity: rgba(134, 49, 204, 0.6);

// YELLOW
// rgba(253, 319, 153)

// PURPLE
// rgba(134, 49, 204)

// PINK
// rgba(252, 63, 157)

// BLUE
// rgba(3, 11, 116)

// TURQUOISE
// rgba(122, 238, 254)
