$font3: 300;
$font4: 400;
$font6: 600;

h1 {
  color: $color-purple !important;
  font-weight: $font6 !important;
}

h2 {
  color: $color-blue !important;
  font-weight: $font6 !important;
}

h3 {
  color: $color-blue !important;
  font-weight: $font6 !important;
}

h4 {
  color: $color-blue !important;
  font-weight: $font6 !important;
}

h5 {
  color: $color-blue !important;
  font-weight: $font6 !important;
}

h6 {
  color: $color-blue !important;
  font-weight: $font6 !important;
}

button {
  text-transform: uppercase !important;
  font-weight: $font6 !important;
  background-color: $color-purple !important;
  border-color: $color-purple !important;
  color: $color-white !important;
  box-shadow: none !important;

  &.Vue-Toastification__close-button {
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  &.reverse {
    background-color: $color-white !important;
    color: $color-purple !important;
  }

  &.default {
    background-color: transparent !important;
    color: $color-purple !important;
  }

  &.purlple-opacity {
    background-color: transparent !important;
    color: $color-border-purple-opacity !important;
    border: 0.0625rem dashed $color-border-purple-opacity !important;
  }

  &.blue {
    background-color: $color-blue !important;
    border-color: $color-blue !important;
  }

  &.tooltip-icon {
    background-color: transparent !important;
    color: $color-pink !important;
    border-color: transparent !important;

    &:hover {
      color: $color-pink !important;
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }

  &.turq {
    background-color: transparent !important;
    color: $color-blue !important;
    border-color: $color-blue !important;
  }

  &:hover {
    color: $color-white !important;
    background-color: $color-blue !important;
    border-color: $color-blue !important;
  }

  &:active {
    background-color: $color-purple !important;
    border-color: $color-purple !important;
    color: $color-white !important;
  }
}

a {
  position: relative;
  color: $color-blue !important;
  font-weight: $font4 !important;
  // border-bottom: 1px solid $color-yellow;

  &.bottom-hover {
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background: $color-yellow;
      -webkit-transition: width 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      transition: width 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 0;
      background: $color-purple;
      -webkit-transition: width 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      transition: width 0.25s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    }

    &:hover {
      color: $color-purple !important;
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }

  &.noborder {
    color: $color-white !important;
    border-color: transparent !important;
    font-weight: $font6 !important;

    &:hover {
      color: $color-white !important;
      border-bottom: none !important;
    }
  }

  &.builder {
    color: $color-white !important;
    border-color: $color-purple !important;
    font-weight: $font6 !important;
    background-color: $color-purple !important;

    &:hover {
      color: $color-white !important;
      border-bottom: none !important;
      background-color: $color-blue !important;
      border-color: $color-blue !important;
    }
  }

  // &:hover {
  //   color: $color-purple !important;
  //   border-bottom: 1px solid $color-blue;
  // }
}

p,
span,
.dp__input,
.dp__selection_preview,
.form-control,
.input-group-text,
.form-check-label,
.input-group,
input {
  font-size: 0.9rem !important;
  border-color: $color-border-blue-opacity !important;
  font-weight: $font3 !important;
  color: $color-black !important;

  &.bold {
    font-weight: $font6 !important;
    font-size: 0.75rem !important;
  }

  &.small-font {
    font-size: 0.675rem !important;
  }

  &.italic {
    font-style: italic;
  }
}

.border-bottom-color-blue {
  border-bottom: 1px solid $color-border-bottom-blue-opacity;
}

.invalid-feedback {
  color: #ed4c78 !important;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 1.9rem !important;
  }

  h2 {
    font-size: 1.7rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1.3rem !important;
  }

  h5 {
    font-size: 1.1rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  p,
  span,
  .dp__input,
  .dp__selection_preview,
  .form-control,
  .input-group-text,
  input {
    font-size: 0.9rem !important;

    &.bold {
      font-size: 0.9rem !important;
    }

    &.mobile-nav {
      font-size: 0.7rem !important;
      font-weight: $font4 !important;
    }
  }

  .form-control,
  .input-group-text {
    padding: 0.5rem 0.6rem !important;
  }

  a {
    font-size: 0.9rem !important;
  }

  button {
    font-size: 0.8rem !important;
  }
}
