<template>
  <div class="c-productsList ms-0 ms-md-7">
    <div class="c-productsList--preview">

      <!-- MULTIPLE PREVIEWS -->
      <ul class="c-productsList--preview-ul-m ps-0" v-if="selectMod === 'multiple' && previews.length > 0">
        <li v-for="(preview, index) in previews" :key="preview.id" class=" card position-relative flex-wrap d-flex justify-content-start align-items-start flex-column p-1 shadow-sm mb-1">
          <div class="d-flex align-items-center justify-content-center">
            <div class="c-imgDrop d-flex align-items-center justify-content-center">
              <img class="img-fluid h-100" :src="preview.image_list ? preview.image_list : '/assets/images/noimage.png' " alt="">

            </div>
            <div class="d-flex align-items-start justify-content-start flex-column ms-2 border-start ps-3 text-start">
              <h6 class="d-flex align-items-center p-0 mb-1 c-prod-nameFont">{{ preview.name }}</h6>
              <p class="d-flex align-items-center p-0 mb-0 c-prod-priceFont">Price: {{ preview.price }} {{ preview.currency }}</p>
              <div v-if="preview.campaigns !== null">
                <p class=" mb-0 c-prod-priceFont">Commission: {{ Math.floor(preview.price * (preview.campaigns.commission.amount / 100)) }} {{ preview.currency }}</p>
                <p class="m-0 c-prod-priceFont">Amount: {{ preview.campaigns.commission.amount }} %</p>
              </div>
            </div>
          </div>

          <div class="position-absolute end-0 top-0 cursor-pointer">
            <BootstrapIcon @click="removeProd(preview.id)" icon="x" size="md" class="text-dark" />
          </div>

          <div class="m-0 position-absolute bottom-0 end-0 more-zindex cursor-pointer">
            <small @click="showDropMore = showDropMore === index ? null : index" class="text-muted">Info
              <BootstrapIcon icon="caret-up-fill" size="sm" class="me-2" />
            </small>
          </div>

          <div :class="{'active': showDropMore === index }" id="moreDropdown" class="d-flex justify-content-between position-relative border-bottom">
            <ul class="d-flex flex-column mb-3 ps-3 pe-3">
              <li v-if="preview.categories.length > 0">
                <small class="text-start mt-2 mb-2">Category: <span v-for="cat in preview.categories" :key="cat.id" class="pe-2">{{ cat.name }} |</span></small>
              </li>
              <li v-if="preview.description">
                <small class="text-start mt-2 mb-2">Description: <span>{{ preview.description }}</span></small>
              </li>
              <li v-if="preview.url">
                <small class="text-start mt-2">URL: <span><a :href="preview.url">Link</a></span></small>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- SINGLE PREVIEW -->
      <ul class="c-productsList--preview-ul-s ps-0" v-else-if="selectMod === 'single' && showItem !== null">
        <li class="card position-relative flex-wrap d-flex justify-content-start align-items-start flex-column p-1 shadow-sm">
          <div class="d-flex align-items-center justify-content-center">
            <div class="c-imgDrop d-flex align-items-center justify-content-center">
              <img class="img-fluid h-100" :src="showItem.image_list ? showItem.image_list : '/assets/images/noimage.png' " alt="">

            </div>
            <div class="d-flex align-items-start justify-content-start flex-column ms-2 border-start ps-3 text-start">
              <h6 class="d-flex align-items-center p-0 mb-1 c-prod-nameFont">{{ showItem.name }}</h6>
              <p class="d-flex align-items-center p-0 mb-1 c-prod-priceFont">Price: {{ showItem.price }} {{ showItem.currency }}</p>
              <div v-if="showItem.campaigns !== null">
                <p class=" mb-1 c-prod-priceFont">Commission: {{ Math.floor(showItem.price * (showItem.campaigns.commission.amount / 100)) }} {{ showItem.currency }}</p>
                <p class="m-0 c-prod-priceFont">Amount: {{ showItem.campaigns.commission.amount }} %</p>
              </div>
            </div>
          </div>

          <div class="position-absolute end-0 top-0 cursor-pointer">
            <BootstrapIcon @click="removeProd(selectedItem)" icon="x" size="md" class="text-dark" />
          </div>

          <div class="w-100 m-0 position-absolute bottom-0 text-end more-zindex">
            <small @click="toogleMore()" class="text-muted">Info
              <BootstrapIcon icon="caret-up-fill" size="sm" class="me-2" />
            </small>
          </div>

          <div :class="{'active': showDropMore }" id="moreDropdown2" class="d-flex justify-content-between position-relative border-bottom">
            <ul class="d-flex flex-column mb-3 ps-3 pe-3">
              <li>
                <small class="text-start mt-2 mb-2">Category: <span v-for="cat in showItem.categories" :key="cat.id" class="pe-2">{{ cat.name }} |</span></small>
              </li>
              <li>
                <small class="text-start mt-2 mb-2">Description: <span>{{ showItem.description }}</span></small>
              </li>
              <li>
                <small class="text-start mt-2">URL: <span><a :href="showItem.url">Link</a></span></small>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- NO PREVIEW -->
      <ul class="c-productsList--preview-no p-0" v-else>
        <li class="">No items selected</li>
      </ul>
    </div>
    <button :class="{'d-none': selectMod === 'single' && showItem !== null }" class="btn btn-sm turq" @click="toogleModal">Add Product</button>

    <builder-modal-products v-if="showComponentmodal" :mode-block="selectMod" :open-modal="openProdModal" :selected-prod="singleItem" @emit-prod-data="chooseItem" @close-prod-modal="toogleModal"></builder-modal-products>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
// import BuilderModalProducts from "./BuilderModalProducts.vue";
import { useToast } from "vue-toastification";
import ProductService from "../../../services/products.js";
const BuilderModalProducts = defineAsyncComponent(() =>
  import("./BuilderModalProducts.vue")
);

export default {
  components: {
    BuilderModalProducts,
  },
  props: {
    selectedItem: {
      type: [Number, Object],
      default: null,
    },
    selectMod: {
      type: String,
      default: "single",
    },
  },
  data() {
    return {
      toast: useToast(),
      previews: [],
      items: [],
      singleItem: null,
      showItem: null,
      isLoading: false,
      showDropMore: false,
      openProdModal: false,
      showComponentmodal: false,
      selectedProdIds: [],
      staticItem: this.selectedItem,
      // showDropCat: false,
    };
  },
  emits: ["change-element"],
  methods: {
    toogleModal() {
      this.openProdModal = !this.openProdModal;
      if (this.openProdModal === false) {
        this.loadData();
      }

      if (this.showComponentmodal === true) {
        setTimeout(() => {
          this.showComponentmodal = !this.showComponentmodal;
        }, 500);
      } else {
        this.showComponentmodal = !this.showComponentmodal;
      }
    },

    toogleMore() {
      this.showDropMore = !this.showDropMore;
    },

    // toogleCatDrop() {
    //   this.showDropCat = !this.showDropCat;
    // },

    // Select Category
    // async chooseCat(cat) {
    //   this.catValue.push(cat.id);
    //   this.selectedCatValue.push(cat);
    //   await this.getProducts();
    // },

    // REMOVE CATEGORY FILTER
    // async removeCat(c) {
    //   let item = this.catValue.indexOf(c);
    //   this.catValue.splice(item, 1);
    //   this.selectedCatValue.splice(item, 1);
    //   await this.getProducts();
    // },

    // Get product IDs
    getselectedIds() {
      this.selectedProdIds = this.previews.map((data) => {
        let id = data.id;
        this.selectedProdIds.push(id);
        return id;
      });
      return this.selectedProdIds;
    },

    // ADD prod to list / SAVE PRODUCT ID
    chooseItem(item) {
      if (this.selectMod === "multiple") {
        this.staticItem.data.products = item;
        this.$emit("change-element", this.staticItem);
      } else if (this.selectMod === "single") {
        this.showItem = [...this.items].find((data) => {
          return item === data.id;
        });

        // if (typeof this.showItem.image_list !== undefined) {
        //   this.showItem.image_list = this.showItem.image_list[0];
        // }
        this.singleItem = item;
        this.$emit("change-element", this.singleItem);
      }
    },

    // Delete PRODUCT
    removeProd(data) {
      if (this.selectMod === "multiple") {
        let item = this.previews.indexOf(data);
        this.previews.splice(item, 1);
        this.getselectedIds();
        this.staticItem.data.products = this.selectedProdIds;
        this.$emit("change-element", this.staticItem);
      } else if (this.selectMod === "single") {
        this.showItem = null;
        this.singleItem = null;
        this.$emit("change-element", this.singleItem);
      }
    },

    loadData() {
      if (this.selectMod === "multiple" && this.selectedItem !== null) {
        this.previews = [];
        this.singleItem = null;

        [...this.selectedItem.data.products].map((data) => {
          let obj = [...this.items].find((item) => {
            return item.id === data;
          });
          this.previews.push(obj);
        });

        this.singleItem = this.previews;
      }

      if (this.selectMod === "single" && this.selectedItem !== null) {
        this.singleItem = null;
        this.showItem = [...this.items].find((item) => {
          return this.selectedItem === item.id;
        });

        this.singleItem = this.showItem.id;
      }
    },

    async getProducts() {
      this.isLoading = true;
      this.items = [];
      try {
        let productData = this.productFilterList(
          this.searchValue,
          this.catValue,
          100,
          1
        );
        const response = await ProductService.browsProduct(productData);
        this.items = await response.data.data;

        this.items.map((campaign) => {
          if (typeof campaign.image_list !== "undefined") {
            campaign.image_list = campaign.image_list[0];
          }

          if (campaign.campaigns.length > 0) {
            let obj = campaign.campaigns.find((item) => {
              if (item.commission !== null) {
                return item.commission.amount !== null;
              }
            });
            return (campaign.campaigns = obj);
          } else {
            return (campaign.campaigns = null);
          }
        });
        this.isLoading = false;
        return this.items;
      } catch (err) {
        this.toast.error(err.message || "Failed to load products.");
        this.isLoading = false;
      }
    },

    // PRODUCTS DATA
    productFilterList(search, category, limit, page) {
      let additional = [];
      let data = {};

      data.filters = additional;

      if (search) {
        search;
        data.query = search;
      }

      data.from = +page * +limit - limit;
      data.size = +limit;
      return data;
    },

    // getCategories() {
    //   this.categories = [];

    //   this.categories = [...this.items].map((item) => {
    //     return item.categories;
    //   });

    //   let merged = [].concat.apply([], this.categories);
    //   merged.map((i) => {
    //     if (i.id != null) {
    //       let cat = {
    //         id: i.id,
    //         name: i.name,
    //       };
    //       this.categories.push(cat);
    //       return cat;
    //     }
    //   });
    // },
  },
  async created() {
    await this.getProducts();
    await this.loadData();
  },
};
</script>

<style>
.VuePagination {
  margin: 0 auto;
  width: 100%;
  padding-top: 5px;
  margin-top: auto;
}

.VuePagination__pagination.pagination.VuePagination__pagination {
  margin-top: 0;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.VuePagination__count {
  font-size: 0.8rem !important;
  margin-bottom: 5px;
  margin-right: 0;
  text-align: center;
}

.VuePagination__pagination-item.active .page-link.active {
  background-color: #030b74 !important;
}

.c-productsList--preview-no {
  list-style: none;
}

.c-productsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 111;
}

.c-productsList--preview {
  width: 100%;
}

.c-productsList--preview-ul-s,
.c-productsList--preview-ul-m {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.c-productsList--preview-ul-s li,
.c-productsList--preview-ul-m li {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.c-productsList--preview-ul-m li:last-child,
.c-productsList--preview-ul-s li:last-child {
  border-bottom: none;
}

.c-productsList--name {
  color: #000;
  font-size: 0.7rem;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.c-productsList--price {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bg-custom-icon {
  background-color: rgba(255, 255, 255, 0.5);
}

.c-productsList--list {
  width: 100%;
}

.c-productsList--list-wrapper {
  background: #f3efef;
}

.c-productsList--custom {
  height: 0;
  overflow-y: scroll;
}

.c-productsList--custom.hasCat {
  height: 70px;
}

.c-productsList--list-cat {
  list-style: none;
}

.c-productsList--list-cat li {
  margin-right: 5px;
}

.c-productsList--list-cat li {
  padding: 3px 5px;
  width: auto !important;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 3px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

#moreDropdown,
#moreDropdown2 {
  background-color: white;
  border-top: 1px solid #000;
  width: 100%;
  max-height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
#moreDropdown.active,
#moreDropdown2.active {
  max-height: 200px;
  overflow-y: auto;
  visibility: visible;
  transition: all 0.6s ease-in-out;
}

.c-prewText {
  flex: 1;
}

.more-zindex {
  z-index: 3;
}
/* 
#categoryDropdown {
  background-color: white;
  border-top: 1px solid #000;
  width: 100%;
  max-height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 11;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}

#categoryDropdown.active {
  max-height: 100px;
  overflow-y: auto;
  visibility: visible;
  transition: all 0.6s ease-in-out;
}

#categoryDropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}

#categoryDropdown li p {
  border-radius: 30px;
  padding: 5px 10px;
  width: 100%;
  background-color: rgb(133, 163, 209);
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin: 7px 3px;
}

#categoryDropdown li.disabled {
  background: #d2d2d2;
  pointer-events: none;
  opacity: 0.6;
}

#categoryDropdown li:hover,
.active {
  background: #defbe8;
  color: rgb(29, 27, 27);
} */

.c-prod-nameFont {
  font-size: 0.85rem !important;
  font-weight: 600;
}

.c-prod-priceFont {
  font-size: 0.8rem !important;
  font-weight: 500;
}

.c-imgDrop {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}

.c-imgPrew {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}
</style>