<template>
  <teleport to="body">
    <transition name="slidemodal" appear>
      <div class="c-modal-prodSearch" v-if="openModal">
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">

          <button @click="openSelected" class="m-0 me-2 badge" :class="{'reverse': previews.length <= 0 }" v-if="modeBlock === 'multiple'">VIEW SELECTED {{ previews.length > 0 ? previews.length : 0 }}</button>
          <button @click="openSelected" :class="{'reverse': singleItem === null }" class="m-0 me-2 badge" v-if="modeBlock === 'single'">VIEW SELECTED PRODUCTS {{ singleItem !== null ? 1 : 0 }}</button>
        </div>
        <transition name="slide">
          <div v-if="selectedDropdown" :class="{'active': selectedDropdown === true }" class="c-previewItems card p-0 m-0 d-flex justify-content-start align-items-start list-unstyled flex-wrap">
            <!-- MULTIPLE PREVIEWS -->
            <ul v-if="modeBlock === 'multiple' && previews.length > 0" class="mt-3 me-3 ms-3 mb-3 p-0 m-0 d-flex justify-content-start align-items-start list-unstyled flex-wrap">
              <li v-for="preview in previews" :key="preview.id" class="card bg-yellow mb-2 d-flex flex-row align-items-center justify-content-center ps-2 pe-2 me-1">
                <h6 class="text-start p-0 me-2 mb-0 c-prod-nameFont">{{ preview.name }}</h6>
                <BootstrapIcon @click="removeProd(preview)" icon="x" size="md" class="text-white m-0 cursor-pointer" />
              </li>
            </ul>

            <!-- SINGLE PREVIEW -->
            <ul v-else-if="modeBlock === 'single' && singleItem !== null" class="mt-3 me-3 ms-3 mb-3 p-0 m-0 d-flex justify-content-start align-items-start list-unstyled flex-wrap">
              <li class="card d-flex flex-row align-items-center justify-content-center ps-2 pe-2 me-1 mb-2 bg-yellow">
                <h6 class="text-start p-0 me-2 mb-0 c-prod-nameFont">{{ singleItem.name }}</h6>
                <BootstrapIcon @click="removeProd(singleItem)" icon="x" size="md" class="text-white m-0 cursor-pointer" />
              </li>
            </ul>
          </div>
        </transition>

        <!-- FILTER -->
        <div class="c-listProd position-relative d-flex flex-column">

          <!-- SEARCH -->
          <div id="search" class="mt-1 align-items-center d-flex justify-content-between w-100">
            <input v-model="searchValue" id="inputProd" name="products" placeholder="Search or select..." autocomplete="off">
            <!-- <p class="d-flex align-items-center p-0 m-0 cursor-pointer" @click.prevent="closeDropdown()">
          <BootstrapIcon icon="x" size="md" v-if="showDrop" />
        </p> -->

            <div class="spinner-border spinner-border--sm text-success" v-if="isLoading"></div>
          </div>

          <!-- PRODUCTS LIST -->
          <ul id="products" class="mb-3">
            <!-- <li class="border-bottom d-flex flex-column w-100">
          <div :class="{ 'hasCat': hasCategory }" class="c-productsList--custom border-bottom d-flex flex-row w-100 bg-white">
            <div class="c-productsList--list-wrapper d-flex flex-row align-items-center">
              <ul class="c-productsList--list-cat d-flex m-0 p-0 align-items-center justify-content-start">
                <li v-for="c in selectedCatValue" :key="c.id" class="position-relative d-flex justify-content-center">
                  <p class="m-0 p-0">{{ c.name }}</p>
                  <div class="cursor-pointer" @click="removeCat(c)">
                    <BootstrapIcon icon="x" size="md" class="e-rotate--icon" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div :class="{'active': showDropCat === true }" id="categoryDropdown" class="justify-content-start align-center">
            <div class="d-flex justify-content-between position-relative">
              <ul id="categories" class="d-flex flex-row p-0 m-0" :value="catValue" @input="$emit('update:catValue', $event.target.value)">
                <li v-for="cat in categories" :key="cat.id" :value="cat.id" :selected="cat.id === catValue" @click="chooseCat(cat)">
                  <p>{{ cat.name }}</p>
                </li>
              </ul>
            </div>
          </div>
        </li> -->
            <div class="skel-prod-item border-bottom-color-blue" v-if="isLoading">

            </div>
            <li v-else v-for="item in items" :key="item.id" @click="chooseItem(item)" :class="{ 'disabled': item.disabled === true }" class="prod-item card shadow-sm">
              <div class="d-flex align-items-start justify-content-start">
                <div class="c-imgDrop d-flex align-items-center justify-content-center">
                  <img class="img-fluid h-100" :src="item.image_list ? item.image_list : '/assets/images/noimage.png' " alt="">
                </div>
                <div class="d-flex align-items-start justify-content-start flex-column ms-2 border-start ps-3">
                  <h6 class="d-flex align-items-center p-0 mb-1 c-prod-nameFont">{{ item.name }}</h6>
                  <p class="d-flex align-items-center p-0 mb-0 c-prod-priceFont">Price: {{ item.price }} {{ item.currency }}</p>
                  <div v-if="item.campaigns !== null">
                    <p class="mb-0 c-prod-priceFont">Commission: {{ Math.floor(item.price * (item.campaigns.commission.amount / 100)) }} {{ item.currency }}</p>
                    <p class="mb-0 c-prod-priceFont">Amount: {{ item.campaigns.commission.amount }} %</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <pagination v-model="page" :records="totalItems ? totalItems : 0" :per-page="limit" @paginate="getProducts" :options="{chunk: 5, chunksNavigation: 'scroll'}" />

          <div class="d-flex justify-content-between mb-3">
            <div class="cursor-pointer c-close-z-index">
              <button class="btn btn-sm" @click="closeModal()">Close</button>
            </div>
            <div class="cursor-pointer c-close-z-index">
              <button class="btn btn-sm d-flex justify-content-center align-items-center" @click="sendProductsData">Save
              </button>
            </div>
          </div>

        </div>

      </div>
    </transition>
  </teleport>
</template>

<script>
import Pagination from "v-pagination-3";
import { useToast } from "vue-toastification";
import ProductService from "../../../services/products.js";

export default {
  props: {
    openModal: {
      type: Boolean,
      default: false,
    },
    selectedProd: {
      type: [Number, Array],
      default: null,
    },
    modeBlock: {
      type: String,
      default: "single",
    },
  },
  emits: ["close-prod-modal", "emitProdData"],
  components: {
    Pagination,
  },
  data() {
    return {
      toast: useToast(),
      searchValue: "",
      limit: 50,
      page: 1,
      items: [],
      catValue: [],
      selectedProdIds: [],
      previews: [],
      totalItems: null,
      singleItem: null,
      isLoading: false,
      selectedDropdown: false,
    };
  },
  methods: {
    //     onFocus() {
    //   this.showDrop = true;
    // },

    // closeDropdown() {
    //   this.showDrop = false;
    // },

    // toogleMore() {
    //   this.showDropMore = !this.showDropMore;
    // },

    openSelected() {
      if (this.previews.length > 0 || this.singleItem !== null) {
        this.selectedDropdown = !this.selectedDropdown;
      }
    },

    closeModal() {
      if (this.modeBlock === "single") {
        this.$emit("close-prod-modal");
        this.singleItem = null;
      } else {
        this.$emit("close-prod-modal");
      }
    },

    loadData() {
      if (this.modeBlock === "multiple" && this.selectedProd !== null) {
        this.previews = [];
        this.previews = this.selectedProd;
        // if (this.previews.length > 0) {
        //   this.items.map((data) => {
        //     let obj = [...this.previews].find((item) => {
        //       return data.id === item.id;
        //     });
        //     obj.disabled = true;

        //     return obj;
        //   });
        // }
      }
      if (this.modeBlock === "single" && this.selectedProd !== null) {
        this.singleItem = null;
        this.singleItem = [...this.items].find((item) => {
          return this.selectedProd === item.id;
        });
      }

      return this.singleItem & this.previews;
    },

    // GET PRODUCTS
    async getProducts() {
      this.isLoading = true;
      this.items = [];
      try {
        let productData = this.productFilterList(
          this.searchValue,
          this.catValue,
          this.limit,
          this.page
        );
        const response = await ProductService.browsProduct(productData);
        this.items = await response.data.data;
        this.totalItems = await response.data.meta.total;

        this.items.map((campaign) => {
          if (typeof campaign.image_list !== undefined) {
            campaign.image_list = campaign.image_list[0];
          }

          if (campaign.campaigns.length > 0) {
            let obj = campaign.campaigns.find((item) => {
              if (item.commission !== null) {
                return item.commission.amount !== null;
              }
            });
            return (campaign.campaigns = obj);
          } else {
            return (campaign.campaigns = null);
          }
        });

        this.isLoading = false;
        return this.items && this.totalItems;
      } catch (err) {
        this.toast.error(err.message || "Failed to load products.");
        this.isLoading = false;
      }
    },

    // PRODUCTS DATA
    productFilterList(search, category, limit, page) {
      let additional = [];
      let data = {};

      data.filters = additional;

      if (search) {
        search;
        data.query = search;
      }

      data.from = +page * +limit - limit;
      data.size = +limit;
      return data;
    },

    // Get product IDs
    getselectedIds() {
      this.selectedProdIds = this.previews.map((data) => {
        let id = data.id;
        this.selectedProdIds.push(id);
        return id;
      });
      return this.selectedProdIds;
    },

    // ADD prod to list / SAVE PRODUCT ID
    chooseItem(item) {
      if (this.modeBlock === "multiple") {
        item.disabled = true;
        this.previews.push(item);
      } else if (this.modeBlock === "single") {
        if (this.singleItem !== null) {
          this.singleItem.disabled = false;
          item.disabled = true;
          this.singleItem = item;
          return;
        }
        this.singleItem = item;
        item.disabled = true;
      }
    },

    // Delete PODUCT
    removeProd(data) {
      if (this.modeBlock === "multiple") {
        data.disabled = false;
        let item = this.previews.indexOf(data);
        this.previews.splice(item, 1);
      } else if (this.modeBlock === "single") {
        data.disabled = false;
        this.singleItem = null;
      }
    },

    // SEND DATA FOR SAVING
    async sendProductsData() {
      if (this.modeBlock === "multiple") {
        await this.getselectedIds();
        this.$emit("emitProdData", this.selectedProdIds);
      } else if (this.modeBlock === "single") {
        this.$emit(
          "emitProdData",
          this.singleItem ? this.singleItem.id : this.singleItem
        );
      }
      this.closeModal();
    },
  },

  watch: {
    searchValue(value) {
      if (value || value === "") {
        this.getProducts();
      }
    },
    openModal(value) {
      if (value === true) {
        this.loadData();
      } else {
        this.previews = [];
      }
    },
  },
  async created() {
    await this.getProducts();
    await this.loadData();
  },
};
</script>

<style lang="scss" scoped>
#products {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  z-index: 11;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow-y: scroll;

  .prod-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    // background-color: rgba(3, 11, 116, 0.3);
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;

    &.disabled {
      background: rgba(3, 11, 116, 0.3);
      pointer-events: none;
      opacity: 0.6;
    }

    &:hover {
      background: rgba(122, 238, 254, 0.2);
      color: #000;
    }

    p {
      width: 100%;
    }
  }
}

.c-imgDrop {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}

.c-previewItems {
  width: 90%;
  margin: 0 auto;

  &.active {
    overflow-y: scroll;
    position: absolute;
    height: auto;
    max-height: 90%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
  }
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 90%;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.c-modal-prodSearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  height: 100%;
}

.bg-yellow {
  background: #fdbf35;
}

.c-prod-nameFont {
  font-size: 0.85rem !important;
  font-weight: 600;
}

.c-prod-priceFont {
  font-size: 0.8rem !important;
  font-weight: 500;
}

.c-listProd {
  padding: 5px 15px 50px 15px;
  height: 100%;
}

.c-close-z-index {
  z-index: 100;
}

#search {
  height: 40px;

  &:hover,
  &:focus {
    // background: #f7f7f7;
  }

  button,
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    color: #000;
    font: inherit;
    outline: 0;
    /* border-bottom: 1px solid #000; */
  }

  button {
    cursor: pointer;
    padding: 0 0.25em;
  }

  input {
    -webkit-box-flex: 1;
    flex: 1;
  }
  input::-webkit-input-placeholder {
    color: #000;
  }
  input::-moz-placeholder {
    color: #000;
  }
  input:-ms-input-placeholder {
    color: #000;
  }
  input::-ms-input-placeholder {
    color: #000;
  }
  input::placeholder {
    color: #000;
  }
  .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    padding: 0 0.25em;
  }
}

.skel-prod-item {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ddd;
  animation: pulse-bg 1s infinite;
}

// .slidemodal-enter-from,
// .slidemodal-leave-active {
//   transform: translateY(100%);
// }

.slidemodal-enter-active,
.slidemodal-leave-active {
  transition: all 0.6s ease-in-out;
}

.slidemodal-enter-from,
.slidemodal-leave-to {
  transform: translateY(100%);
  height: 100%;
}
</style>