<template>
  <button class="c-createBtn btn btn-sm m-1 m-md-2 position-relative d-inline-flex justify-content-center align-items-center purlple-opacity flex-column">

    <div v-if="loader">
      <div class="spinner-border text-success ms-2" v-if="btnisloading" :btnisloading="btnisloading"></div>
      <div class="spinner-border text-success ms-2" v-if="btnisloading1" :btnisloading1="btnisloading1"></div>
      <div class="spinner-border text-success ms-2" v-if="btnisloading2" :btnisloading2="btnisloading2"></div>
      <div class="spinner-border text-success ms-2" v-if="btnisloading3" :btnisloading1="btnisloading3"></div>
    </div>
    <BootstrapIcon v-else :icon="icon" :size="size" class="mb-2" />

    {{ btnText }}
  </button>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      reauired: false,
    },
    btnText: {
      type: String,
      required: false,
    },
    size: {
      type: String,
      required: false,
    },
    btnisloading: {
      type: Boolean,
      reauired: false,
    },
    btnisloading1: {
      type: Boolean,
      reauired: false,
    },
    btnisloading2: {
      type: Boolean,
      reauired: false,
    },
    btnisloading3: {
      type: Boolean,
      reauired: false,
    },
  },
  computed: {
    loader() {
      if (
        this.btnisloading === true ||
        this.btnisloading1 === true ||
        this.btnisloading2 === true ||
        this.btnisloading3 === true
      ) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style scoped>
.spinner-border {
  width: 1rem;
  height: 1rem;
}
@media screen and (max-width: 767px) {
  .c-createBtn {
    width: 100%;
  }
}
</style>