<template>
  <the-header></the-header>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container position-relative">

      <div class="container content-space-2 content-space-b-lg-3">
        <div class="w-lg-75 mx-lg-auto card p-5">
          <div class="d-grid gap-10 ">
            <div class="d-grid gap-3">
              <h2>Link Basics</h2>

              <!-- Accordion -->
              <div class="accordion accordion-flush accordion-lg" id="accordionFaqLink">

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingLinkFour">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkFour" aria-expanded="false" aria-controls="collapseLinkFour">
                      Enable/disable a link?
                    </a>
                  </div>
                  <div id="collapseLinkFour" class="accordion-collapse collapse" aria-labelledby="headingLinkFour" data-bs-parent="#accordionFaqLink">
                    <div class="accordion-body mt-3">
                      <p>A link can be enabled/disabled by going to "Settings" page and switching the lightswitch on and off. Status of all links are showon on "My links" page.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingLinkOne">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkOne" aria-expanded="false" aria-controls="collapseLinkOne">
                      Can I have multiple links per account?
                    </a>
                  </div>
                  <div id="collapseLinkOne" class="accordion-collapse collapse" aria-labelledby="headingLinkOne" data-bs-parent="#accordionFaqLink">
                    <div class="accordion-body mt-3">
                      <p>Yes, you can have multiple links per account. By click on the menu button "Create Link", you can create a new link. On "My Links" page located in the menu you can choose which link to manage.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingLinkThree">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkThree" aria-expanded="false" aria-controls="collapseLinkThree">
                      How to preview your shareable link (page)?
                    </a>
                  </div>
                  <div id="collapseLinkThree" class="accordion-collapse collapse" aria-labelledby="headingLinkThree" data-bs-parent="#accordionFaqLink">
                    <div class="accordion-body mt-3">
                      <p>A "Preview" button is located under the blocks builder. Your link opens in a new page, it shows how your audience will see the page.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingLinkTwo">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkTwo" aria-expanded="false" aria-controls="collapseLinkTwo">
                      How to copy your link?
                    </a>
                  </div>
                  <div id="collapseLinkTwo" class="accordion-collapse collapse" aria-labelledby="headingLinkTwo" data-bs-parent="#accordionFaqLink">
                    <div class="accordion-body mt-3">
                      <p>You can copy your link by clicking on the "Copy link" button under the builder on the "Builder" page. The alternative is to click on the "Preview" button and copy the new opened page URL.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

              </div>
              <!-- End Accordion -->
            </div>
            <div class="d-grid gap-3">
              <h2>Page Builder</h2>

              <!-- Accordion -->
              <div class="accordion accordion-flush accordion-lg" id="accordionFAQBasics">

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingBasicsOne">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsOne" aria-expanded="false" aria-controls="collapseBasicsOne">
                      How to use a builder?
                    </a>
                  </div>
                  <div id="collapseBasicsOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQBasics">
                    <div class="accordion-body mt-3">
                      <p>Add blocks by clicking on the "Add" buttons on the builder page. Fill in the needed data to enable the block. Blocks can be added, deleted, draged, rearranged.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingBasicsTwo">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsTwo" aria-expanded="false" aria-controls="collapseBasicsTwo">
                      Block types and how to use them?

                    </a>
                  </div>
                  <div id="collapseBasicsTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQBasics">
                    <div class="accordion-body mt-3">
                      <p>Four block types that you can add.</p>
                      <ol>
                        <li>
                          <p class="m-0">Link Block - Add title and custom URL (https://your.url)</p>
                        </li>
                        <li>
                          <p class="m-0">Product Block - Add product</p>
                        </li>
                        <li>
                          <p class="m-0">Products Block - Add multiple products</p>
                        </li>
                        <li>
                          <p class="m-0">Collection Block - Add title, description and multiple products</p>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingBasicsThree">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsThree" aria-expanded="false" aria-controls="collapseBasicsThree">
                      How to enable/disable blocks?
                    </a>
                  </div>
                  <div id="collapseBasicsThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree" data-bs-parent="#accordionFAQBasics">
                    <div class="accordion-body mt-3">
                      <p> <span class="text-danger">WARNING!</span> You can't enable a block if all of the data is not correct or filled in.</p>
                      <p>Blocks are enabled/disabled by switching the lightswitch in the top-left corner.
                        Blocks are auto-enabled when all of the data is filled in correctly.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingBasicsFour">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFour" aria-expanded="false" aria-controls="collapseBasicsFour">
                      How to delete blocks?
                    </a>
                  </div>
                  <div id="collapseBasicsFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour" data-bs-parent="#accordionFAQBasics">
                    <div class="accordion-body mt-3">
                      <p>Blocks can be deleted by clicking on the trash icon in the top-right corner. After the buttons open. Click on the "Delete" button to delete the block or "Cancel" button to close.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->
              </div>
              <!-- End Accordion -->
            </div>

            <div class="d-grid gap-3">
              <h2>Analitycs</h2>

              <!-- Accordion -->
              <div class="accordion accordion-flush accordion-lg" id="accordionFaqAnalitycs">

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingLinkTwo">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkTwo" aria-expanded="false" aria-controls="collapseLinkTwo">
                      How to copy your link?
                    </a>
                  </div>
                  <div id="collapseLinkTwo" class="accordion-collapse collapse" aria-labelledby="headingLinkTwo" data-bs-parent="#accordionFaqLink">
                    <div class="accordion-body mt-3">
                      <p>You can copy your link by clicking on the "Copy link" button under the builder on the "Builder" page. The alternative is to click on the "Preview" button and copy the new opened page URL.</p>
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

              </div>
              <!-- End Accordion -->
            </div>

            <div class="d-grid gap-3">
              <h2>Payments</h2>

              <!-- Accordion -->
              <div class="accordion accordion-flush accordion-lg" id="accordionFAQPayments">
                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingPaymentsOne">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsOne" aria-expanded="false" aria-controls="collapsePaymentsOne">
                      What methods of payments are supported?
                    </a>
                  </div>
                  <div id="collapsePaymentsOne" class="accordion-collapse collapse" aria-labelledby="headingPaymentsOne" data-bs-parent="#accordionFAQPayments">
                    <div class="accordion-body">
                      You can purchase the themes on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account. We don't support cryptocurrencies or invoicing at this time.
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingPaymentsTwo">
                    <a class="accordion-button collapsed border-bottom-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsTwo" aria-expanded="false" aria-controls="collapsePaymentsTwo">
                      How do I get a receipt for my purchase?
                    </a>
                  </div>
                  <div id="collapsePaymentsTwo" class="accordion-collapse collapse" aria-labelledby="headingPaymentsTwo" data-bs-parent="#accordionFAQPayments">
                    <div class="accordion-body">
                      You'll receive an email from Bootstrap themes once your purchase is complete.
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                  <div class="accordion-header" id="headingPaymentsThree">
                    <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePaymentsThree" aria-expanded="false" aria-controls="collapsePaymentsThree">
                      How can I get a refund?
                    </a>
                  </div>
                  <div id="collapsePaymentsThree" class="accordion-collapse collapse" aria-labelledby="headingPaymentsThree" data-bs-parent="#accordionFAQPayments">
                    <div class="accordion-body">
                      If you'd like a refund please reach out to us at <a href="#">themes@getbootstrap.com</a>. If you need technical help with the theme before a refund please reach out to the seller first and they can get in touch with us if they're unable to resolve the issue.
                    </div>
                  </div>
                </div>
                <!-- End Accordion Item -->
              </div>
              <!-- End Accordion -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <the-footer></the-footer>

</template>