<template>
  <div class="max-width-forms m-auto">
    <div class="card mb-5">
      <div class="w-100 d-flex justify-content-between p-3 align-items-center">
        <h4 class="m-0">
          <BootstrapIcon icon="link" size="md" class="me-1" /> Links
        </h4>
        <p class="m-0">Count: {{ links.length }}</p>
      </div>
      <div class="card-body shadow-sm p-3 rounded">
        <ul v-if="links.length > 0" class="d-flex flex-column p-0">
          <li class="d-flex flex-column c-linkList mb-1 border rounded shadow-sm" v-for="link in links" :key="link.id">
            <router-link class="d-flex justify-content-between rounded align-items-center ps-3 pe-3 pt-3 pb-3 border-bottom-0" :to="{name: 'PageBuilder', params: { id: link.id }}" :class="link.active ? 'c-border-track-isvalid' : 'c-border-track-invalid'">
              <div class="d-flex flex-row align-items-center">
                <img :src="link.image.source" v-if="link.image" class="img-fluid avatar">
                <img v-else class="img-fluid avatar" src="/assets/images/blank-profile.png" />
                <p class="card-header-title ms-3">
                  {{ link.username }}
                </p>
              </div>
              <p class="badge m-0" :class="{ 'bg-soft-danger text-danger': !link.active, 'bg-soft-success text-success': link.active }">{{ link.active ? 'Active' : 'Inactive' }}
                <BootstrapIcon icon="arrow-right-short" size="md" />
              </p>
            </router-link>
          </li>
        </ul>
        <ul v-else class="skel-load d-flex justify-content-between border rounded align-items-center ps-3 pe-3 pt-3 pb-3">
          <div>
            <h5 class="h-100 w-100"></h5>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>


<script>
import LinkService from "../../services/links.js";
import { useToast } from "vue-toastification";

export default {
  data() {
    return {
      links: [],
      toast: useToast(),
    };
  },

  methods: {
    async getLinkList() {
      try {
        let { data } = await LinkService.getLinkList();
        this.links = data.data;
      } catch (err) {
        this.toast.error(err.message || "Failed to authenticate");
      }
    },
  },
  created() {
    this.getLinkList();
  },
};
</script>

<style scoped lang="scss">
.max-width-forms {
  max-width: 550px !important;
  width: 100%;
}

.c-linkList {
  &:hover {
    background-color: #8631cc !important;
    transition: all 0.3s ease-in-out;

    p {
      color: #fff !important;
    }

    svg {
      color: #fff !important;
    }
  }
}

.skel-load {
  content: " ";
  background-color: rgb(236, 236, 236);
  animation: pulse-bg 1s infinite;
  width: 100%;
  height: 100%;
}

.c-border-track-invalid {
  border-left: 0.2rem solid rgba(237, 76, 120);
}

.c-border-track-isvalid {
  border-left: 0.2rem solid rgba(0, 201, 167);
}
</style>