<template>
  <div class="c-block--block position-relative">
    <div class="c-block-switch position-absolute d-flex">
      <label class="switch">
        <input type="checkbox" @click="toggleSwitch(linkData)" :checked="linkData.active" :disabled="!linkData.isValid">
        <div class="slider round"></div>
      </label>
      <base-tooltip class="ps-1">
        <template #content>Block is auto-saved and enabled after all fileds are filled. Disabled block will not be shown on your live profile.</template>
      </base-tooltip>
    </div>
    <div :class="{'active': showTrashBtn === true }" class="c-block-deletebtn d-flex justify-content-between position-absolute me-1">
      <button class="btn btn-xs me-2" @click="removeBlock(linkData)">Delete</button>
      <button class="btn blue btn-xs" @click="toggleTrashBtn">Cancel</button>
    </div>
    <div class="position-absolute c-trashbtn spinner-border text-success" v-if="show" :show="show"></div>
    <div v-else class="position-absolute c-trashbtn">
      <BootstrapIcon icon="trash" size="sm" class="c-sizetrash" @click="toggleTrashBtn" />
    </div>
    <div class="c-index-inputBlocks input-group">
      <div class="c-index-inputBlocks input-group mb-2 ms-0 ms-md-7">
        <label class="input-group-text" for="linktitleLink">Title</label>
        <input id="linktitleLink" name="linktitleLink" placeholder="Enter Title" type="text" class="form-control custom-border" :class="{ invalid: v$.linktitleLink.$error && v$.linktitleLink.$dirty }" v-model="linktitleLink" @blur="v$.linktitleLink.$touch; saveData(linkData)" />
        <div class="input-errors w-100 text-start" v-for="error of v$.linktitleLink.$errors" :key="error.$uid">
          <span class="invalid-feedback" :class="{ 'd-block': v$.linktitleLink.$error }">{{ error.$message }}</span>
        </div>
      </div>
      <div class="c-index-inputBlocks input-group mb-2 ms-0 ms-md-7">
        <label class="input-group-text" id="linkurlLink">Link</label>
        <input id="linkurlLink" name="linkurlLink" type="text" class="form-control custom-border" placeholder="https://getstrive.com" :class="{ invalid: v$.linkurlLink.$error && v$.linkurlLink.$dirty }" v-model="linkurlLink" @blur="v$.linkurlLink.$touch; saveData(linkData)" />
        <div class="input-errors w-100 text-start" v-for="error of v$.linkurlLink.$errors" :key="error.$uid">
          <span class="invalid-feedback" :class="{ 'd-block': v$.linkurlLink.$error }">{{ error.$message }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-block--drag d-flex align-items-center justify-content-center handle">
    <img class="c-block--image" src="/assets/images/dragndrop1.png" alt="">
  </div>
</template>

<script>
import useVuelidate from "@vuelidate/core";
import { required, url } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  emits: [
    "toggle-active",
    "save-data",
    "remove",
    "update:titleLink",
    "update:urlLink",
  ],
  validations() {
    return {
      linktitleLink: {
        required,
        $dirty: true,
      },
      linkurlLink: {
        required,
        url,
        $dirty: true,
      },
    };
  },
  data() {
    return {
      linkData: this.itemData,
      linktitleLink: this.itemData.data.title,
      linkurlLink: this.itemData.data.url,
      showTrashBtn: false,
    };
  },
  methods: {
    toggleSwitch(linkData) {
      if (linkData.data.title !== "" || linkData.data.url !== "") {
        this.$emit("toggle-active", linkData);
      }
    },
    toggleTrashBtn() {
      this.showTrashBtn = !this.showTrashBtn;
    },
    async saveData(linkData) {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        linkData.isValid = false;
        linkData.active = false;
        return;
      }

      linkData.isValid = true;
      linkData.active = true;
      linkData.data.title = this.linktitleLink;
      linkData.data.url = this.linkurlLink;
      console.log(linkData);
      this.$emit("save-data", linkData);
    },
    removeBlock(linkData) {
      this.$emit("remove", linkData);
    },
  },
};
</script>