<template>
  <div class="c-block--block position-relative">

    <div class="position-absolute c-block-switch">
      <label class="switch">
        <input type="checkbox" @click="toggleSwitch(collIds)" :checked="collIds.active" :disabled="!collIds.isValid">
        <div class="slider round"></div>
      </label>
    </div>
    <div :class="{'active': showTrashBtn === true }" class="c-block-deletebtn d-flex justify-content-between position-absolute me-1">
      <button class="btn btn-xs me-2" @click="removeBlock(collIds)">Delete</button>
      <button class="btn blue btn-xs" @click="toggleTrashBtn">Cancel</button>
    </div>
    <div class="position-absolute c-trashbtn spinner-border text-success" v-if="show" :show="show"></div>
    <div v-else class="position-absolute c-trashbtn">
      <BootstrapIcon icon="trash" size="sm" class="c-sizetrash" @click="toggleTrashBtn" />
    </div>

    <div class="c-index-inputBlocks input-group">
      <div class="c-index-inputBlocks input-group mb-2 ms-0 ms-md-7">
        <label class="input-group-text" id="collNameData">Title</label>
        <input id="collNameData" name="collNameData" placeholder="Collection Title" type="text" class="form-control custom-border" :class="{ invalid: v$.collNameData.$error && v$.collNameData.$dirty }" v-model="collNameData" @blur="v$.collNameData.$touch; saveData(collIds)" />
        <div class="input-errors w-100 text-start" v-for="error of v$.collNameData.$errors" :key="error.$uid">
          <span class="invalid-feedback" :class="{ 'd-block': v$.collNameData.$error }">{{ error.$message }}</span>
        </div>
      </div>
      <div class="c-index-inputBlocks input-group mb-4 ms-0 ms-md-7">
        <label class="input-group-text" id="collDescData">Desc</label>
        <input id="collDescData" name="collDescData" placeholder="Collection Description" type="text" class="form-control custom-border" :class="{ invalid: v$.collDescData.$error && v$.collDescData.$dirty }" v-model="collDescData" @blur="v$.collDescData.$touch; saveData(collIds)" />
        <div class="input-errors w-100 text-start" v-for="error of v$.collDescData.$errors" :key="error.$uid">
          <span class="invalid-feedback" :class="{ 'd-block': v$.collDescData.$error }">{{ error.$message }}</span>
        </div>
      </div>

      <builder-select selectMod="multiple" :selectedItem="collIds" @change-element="saveData"></builder-select>
    </div>
  </div>
  <div class="c-block--drag d-flex align-items-center justify-content-center handle">
    <img class="c-block--image" src="/assets/images/dragndrop1.png" alt="">
  </div>
</template>

<script>
import BuilderSelect from "../BuilderSelect.vue";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  components: {
    BuilderSelect,
  },
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  validations() {
    return {
      collNameData: {
        required,
        $dirty: true,
      },
      collDescData: {
        required,
        $dirty: true,
      },
      collIds: {
        data: {
          products: {
            required,
          },
        },
      },
    };
  },
  data() {
    return {
      collIds: this.itemData,
      collNameData: this.itemData.data.name,
      collDescData: this.itemData.data.description,
      showTrashBtn: false,
    };
  },
  emits: ["toggle-active", "save-data", "remove"],
  methods: {
    toggleSwitch(collIds) {
      if (
        collIds.data.name !== "" ||
        collIds.data.description !== "" ||
        collIds.data.products.length <= 0
      ) {
        this.$emit("toggle-active", collIds);
      }
    },
    toggleTrashBtn() {
      this.showTrashBtn = !this.showTrashBtn;
    },

    async saveData(collIds) {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        collIds.isValid = false;
        collIds.active = false;

        if (collIds.data.products.length <= 0) {
          collIds.data.name = this.collNameData;
          collIds.data.description = this.collDescData;
          this.$emit("save-data", collIds);
        }
        return;
      }

      collIds.isValid = true;
      collIds.active = true;
      collIds.data.name = this.collNameData;
      collIds.data.description = this.collDescData;

      this.$emit("save-data", collIds);
    },
    removeBlock(collIds) {
      this.$emit("remove", collIds);
    },
  },
};
</script>

<style>
.c-block-switch {
  top: 10px;
  left: 10px;
}

.c-block-deletebtn {
  top: 8px;
  right: 27px;
}

.c-trashbtn {
  top: 10px;
  right: 10px;
}

.c-sizetrash {
  cursor: pointer;
  font-size: 1rem !important;
  color: #030b74;
}

.c-block--block {
  width: 91%;
  padding: 50px 29px 20px 20px;
}
.c-block--drag {
  width: 9%;
  border-left: 1px solid rgba(3, 11, 116, 0.3);
  cursor: move;
}

.c-block--image {
  width: 10px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .c-block--image {
    width: 8px;
  }

  .c-block--block {
    width: 90%;
    padding: 54px 10px 10px 10px;
  }
  .c-block--drag {
    width: 10%;
  }
}

.c-block-deletebtn {
  width: 100%;
  max-width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
  height: auto;
}

.c-block-deletebtn.active {
  max-width: 155px;
  visibility: visible;
  transition: all 0.6s ease-in-out;
}
</style>