<template>
  <div class="c-block--block position-relative">
    <div class="position-absolute c-block-switch">
      <label class="switch">
        <input type="checkbox" @click="toggleSwitch(prodId)" :checked="prodId.active" :disabled="!prodId.isValid">
        <div class="slider round"></div>
      </label>
    </div>
    <div :class="{'active': showTrashBtn === true }" class="c-block-deletebtn d-flex justify-content-start position-absolute me-1">
      <button class="btn btn-xs me-2" @click="removeBlock(prodId)">Delete</button>
      <button class="btn btn-xs blue" @click="toggleTrashBtn">Cancel</button>
    </div>

    <div class="position-absolute c-trashbtn spinner-border text-success" v-if="show" :show="show"></div>
    <div class="position-absolute c-trashbtn">
      <BootstrapIcon icon="trash" size="sm" class="c-sizetrash" @click="toggleTrashBtn" />
    </div>
    <div class="c-index-inputBlocks input-group mb-2">
      <builder-select selectMod="single" :selectedItem="prodId.data.id" @change-element="saveData"></builder-select>
    </div>
  </div>
  <div class="c-block--drag d-flex align-items-center justify-content-center handle">
    <img class="c-block--image" src="/assets/images/dragndrop1.png" alt="">
  </div>
</template>

<script>
import BuilderSelect from "../BuilderSelect.vue";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  components: {
    BuilderSelect,
  },
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  validations() {
    return {
      prodId: {
        data: {
          id: {
            required,
          },
        },
      },
    };
  },
  data() {
    return {
      prodId: this.itemData,
      showTrashBtn: false,
    };
  },
  emits: ["toggle-active", "save-data", "remove"],
  methods: {
    toggleSwitch(itemData) {
      if (itemData.data.id !== null) {
        this.$emit("toggle-active", itemData);
      }
    },

    toggleTrashBtn() {
      this.showTrashBtn = !this.showTrashBtn;
    },

    async saveData(data) {
      this.prodId.data.id = data;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        this.prodId.isValid = false;
        this.prodId.active = false;
        this.$emit("save-data", this.prodId);
        return;
      }
      this.prodId.isValid = true;
      this.prodId.active = true;
      this.$emit("save-data", this.prodId);
    },
    removeBlock(prodId) {
      this.$emit("remove", prodId);
    },
  },
};
</script>