<template>
  <div class="c-block--block position-relative">
    <div class="position-absolute c-block-switch">
      <label class="switch">
        <input type="checkbox" @click="toggleSwitch(prodIds)" :checked="prodIds.active" :disabled="!prodIds.isValid">
        <div class="slider round"></div>
      </label>
    </div>
    <div :class="{'active': showTrashBtn === true }" class="c-block-deletebtn d-flex justify-content-between position-absolute me-1">
      <button class="btn btn-xs me-2" @click="removeBlock(prodIds)">Delete</button>
      <button class="btn blue btn-xs" @click="toggleTrashBtn">Cancel</button>
    </div>
    <div class="position-absolute c-trashbtn spinner-border text-success" v-if="show" :show="show"></div>
    <div class="position-absolute c-trashbtn">
      <BootstrapIcon icon="trash" size="sm" class="c-sizetrash" @click="toggleTrashBtn" />
    </div>
    <div class="c-index-inputBlocks input-group mb-2">
      <builder-select selectMod="multiple" :selectedItem="prodIds" @change-element="saveData"></builder-select>
    </div>
  </div>
  <div class="c-block--drag d-flex align-items-center justify-content-center handle">
    <img class="c-block--image" src="/assets/images/dragndrop1.png" alt="">
  </div>
</template>

<script>
import BuilderSelect from "../BuilderSelect.vue";

export default {
  components: {
    BuilderSelect,
  },
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      prodIds: this.itemData,
      showTrashBtn: false,
    };
  },
  emits: ["toggle-active", "save-data", "remove"],
  methods: {
    toggleSwitch(itemData) {
      this.$emit("toggle-active", itemData);
    },

    toggleTrashBtn() {
      this.showTrashBtn = !this.showTrashBtn;
    },

    saveData(data) {
      if (data.data.products.length <= 0) {
        this.prodId = data;
        this.prodId.isValid = false;
        this.prodId.active = false;
      } else {
        this.prodId = data;
        this.prodIds.isValid = true;
        this.prodIds.active = true;
      }
      this.$emit("save-data", this.prodIds);
    },
    removeBlock(prodIds) {
      this.$emit("remove", prodIds);
    },
  },
};
</script>
