<template>

  <footer class="container pb-5">
    <div class="row align-items-center">
      <div class="col-12 col-sm-3 mb-5 mb-sm-0 text-center text-sm-start">
        <!-- Logo -->
        <div>
          <img class="img-fluid logo-width-5" src="/assets/images/strive_mark.svg" alt="Logo">
        </div>
        <!-- End Logo -->
      </div>

      <div class="col-12 col-sm-5 mb-5 mb-sm-0 text-center">
        <!-- List -->
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            <router-link class="link-sm bottom-hover" :to="`/link/${linkId}/create-link`">Create Link</router-link>
          </li>
          <li class="list-inline-item">
            <router-link class="link-sm bottom-hover" to="/links">Links</router-link>
          </li>

          <li class="list-inline-item">
            <router-link class="link-sm bottom-hover" to="/faq">Faq</router-link>
          </li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-12 col-sm-4 text-center text-sm-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-google"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

</template>

<script>
export default {
  data() {
    return {
      linkId: this.$route.params.id,
    };
  },
};
</script>
