<template>
  <header id="header" class="navbar navbar-expand navbar-light container navbar-expand-md navbar-end mt-3">
    <div class="navbar-nav-wrap">
      <div class="navbar-brand d-none d-md-flex">
        <img class="navbar-brand-logo" src="/assets/images/strive_impact.svg" alt="Logo">
      </div>
      <div class="c-navbar-brand-logo navbar-brand d-flex d-md-none" aria-label="Front">
        <img class="img-fluid" src="/assets/images/strive_mark.svg" alt="Logo2">
      </div>

      <!-- Navbar -->
      <nav class="navbar-nav-wrap-col hideMenu">
        <ul class="c-navbar-nav navbar-nav ms-auto">

          <li class="nav-item">
            <router-link class="nav-link me-4 p-0 bottom-hover" to="/links">My Links</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link me-4 p-0 bottom-hover" :to="`/link/${linkId}/create-link`">Create Link</router-link>
          </li>
          <li class="nav-item">
            <router-link @click.prevent="logout()" class="nav-link p-0 border-0 bottom-hover" to="/login">
              <BootstrapIcon icon="power" size="md" />
            </router-link>
          </li>
        </ul>
        <!-- End Navbar -->
      </nav>
    </div>
  </header>
</template>

<script>
import AuthService from "../../services/auth.js";
import { removeCookie } from "../../services/deleteCookie.js";

export default {
  components: {},
  data() {
    return {
      linkId: this.$route.params.id,
    };
  },
  methods: {
    async logout() {
      removeCookie("sanctum_token");
      localStorage.removeItem("Api-Token");
      await AuthService.logOut();
      this.$router.push("/login");
    },
  },
};
</script>

<style scoped lang="scss">
.hideMenu {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

.c-navbar-brand-logo {
  width: 40px;
}

.custom-back-user {
  background-color: rgba(55, 125, 255, 0.1);
}

.custom-avatar-back {
  background-color: transparent;
}

.c-navbar-nav {
  padding: 0;
}
</style>