<template>
  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <div class="d-flex justify-content-center mb-5">
      <img class="z-index-2 logo-width-9" src="/assets/images/strive_impact.svg" alt="Logo Strive" />
    </div>

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body text-center">
            <!-- Form -->
            <h2>Page not found</h2>
            <h4>This page could not be found 404</h4>
            <router-link to="/login">Go back to Login</router-link>.
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Content -->
</template>