<template>
  <the-header></the-header>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container-fluid content-space-1">
      <link-list></link-list>
    </div>
  </main>
  <the-footer></the-footer>

</template>

<script>
import LinkList from "../../components/list/LinkList.vue";

export default {
  components: {
    LinkList,
  },
};
</script>