<template>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container position-relative">
      <new-link>
      </new-link>
    </div>
  </main>
</template>

<script>
import NewLink from "../../components/requests/NewLink.vue";

export default {
  components: {
    NewLink,
  },
};
</script>