<template>
  <the-header v-if="$route.name !== 'PageOnboarding'"></the-header>
  <main id="content" role="main" class="flex-grow-1">
    <!-- Form -->
    <div class="container" :class="{ 'content-space-1': $route.name !== 'PageOnboarding' }">
      <router-view v-slot="{ Component, route }">
        <keep-alive>
          <transition name="fade" mode="out-in">
            <div :key="route.name">
              <component :is="Component" :key="$route.fullPath"></component>
            </div>
          </transition>
        </keep-alive>
      </router-view>
    </div>
    <mobile-nav></mobile-nav>
  </main>
  <builder-footer v-if="$route.name === 'PageBuilder'"></builder-footer>
  <the-footer v-else v-show="$route.name !== 'PageOnboarding'"></the-footer>

</template>

<script>
import BuilderFooter from "../../components/builder/partials/BuilderFooter.vue";
import MobileNav from "../../components/layout/partials/MobileNav.vue";
export default {
  components: {
    BuilderFooter,
    MobileNav,
  },
};
</script>

