<template>
  <swiper-data></swiper-data>
</template>

<script>
import SwiperData from "../../components/onboarding/SwiperData.vue";

export default {
  components: {
    SwiperData,
  },
};
</script>
