<template>
  <div class="text-center">
    <build-header></build-header>
  </div>
  <link-settings></link-settings>
</template>

<script>
import LinkSettings from "../../components/requests/LinkSettings.vue";
import BuildHeader from "../../components/builder/partials/BuildHeader.vue";
export default {
  components: {
    LinkSettings,
    BuildHeader,
  },
};
</script>