<template>
  <div class="text-center">
    <build-header></build-header>
  </div>
  <dash-items></dash-items>
</template>

<script>
import DashItems from "../../components/dashboard/DashItems.vue";
import BuildHeader from "../../components/builder/partials/BuildHeader.vue";

export default {
  components: { DashItems, BuildHeader },
};
</script>