<template>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container-fluid">
      <confirm-email></confirm-email>
    </div>
  </main>
</template>

<script>
import ConfirmEmail from "../../components/requests/ConfirmEmail.vue";

export default {
  components: {
    ConfirmEmail,
  },
};
</script>

