<template>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container-fluid">
      <reset-pass-form></reset-pass-form>
    </div>
  </main>
</template>

<script>
import ResetPassForm from "../../components/requests/ResetPassForm.vue";

export default {
  components: {
    ResetPassForm,
  },
};
</script>

