<template>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container-fluid">
      <reset-pass></reset-pass>
    </div>
  </main>
</template>

<script>
import ResetPass from "../../components/requests/ResetPass.vue";

export default {
  components: {
    ResetPass,
  },
};
</script>
