<template>
  <main id="content" role="main" class="flex-grow-1">
    <div class="container-fluid">
      <register-user></register-user>
    </div>
  </main>
</template>

<script>
import RegisterUser from "../../components/requests/RegisterUser.vue";

export default {
  components: {
    RegisterUser,
  },
};
</script>
