<template>
    <main id="content" role="main" class="flex-grow-1">
        <div class="container-fluid">
            <login-user></login-user>
        </div>
    </main>
</template>

<script>
import LoginUser from "../../components/requests/LoginUser.vue";

export default {
    components: {
        LoginUser,
    },
};
</script>