<template>
  <div class="col-12 c-top--requests min-vh-lg-100">
    <div class="flex-grow-1 mx-auto c-top--requests-form">
      <div class="text-center">
        <h2>Thank you! Your email has been confirmed!</h2>
        <router-link to="/login" class="btn btn-primary mt-3">Back to Login</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import PassService from "../../services/password.js";

export default {
  data() {
    return {
      token: null,
    };
  },
  methods: {
    async confirmEmail() {
      try {
        if (this.token !== null) {
          await PassService.confirmAccount(this.token);
        }
      } catch (err) {
        this.toast.error(err.message || "Failed to authenticate.");
      }
    },

    getTokenFromUrl() {
      this.token = this.$route.query.token;
    },
  },
  created() {
    this.getTokenFromUrl();
    this.confirmEmail();
  },
};
</script>