<template>
  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body text-center">
            <!-- Form -->
            <h2>Authenticating</h2>
            <h4>Redirecting...</h4>
            <router-link to="/login">Go to Login now</router-link>.
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Content -->
</template>


<script>
export default {
  created() {
    this.$router.replace("/links");
  },
};
</script>