<template>
  <img-crop :open-pop="!!openModalCrop" :uploded-img="previewImage" @close="closePop" @submit="cropImage" :img-crop-loading="isLoadingImg"></img-crop>
  <div class="row justify-content-center c-badgeLink">
    <div class="col-lg-9">

      <div class="d-grid gap-3 gap-lg-5">
        <!-- Card -->
        <div class="card shadow-sm col-12">

          <div class="bg-white ps-3 border-bottom-color-blue d-flex align-items-center justify-content-between mt-2 mb-2">
            <div class="d-flex align-items-center">
              <h4 class="card-header-title mt-2 mb-2">Link Info</h4>
              <base-tooltip>
                <template #content>If you disable the link, your ....<iframe width="150" height="200" src="https://www.youtube-nocookie.com/embed/vqz8c4ZP3Wg?controls=0&amp;start=2548" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></template>
              </base-tooltip>
            </div>
            <div class="spinner-border text-success me-3" v-if="isLoadingLink"></div>
          </div>

          <!-- Body -->
          <div class="card-body">
            <!-- Form -->
            <div class="row m-0">
              <label class="col-6 col-form-label form-label p-0" for="linkActive">
                <span class="badge mb-0 c-badgeLink--link" :class="{'bg-soft-success text-success': link.active === 1 || link.active === true, 'bg-soft-danger text-danger': link.active === 0 || link.active === false }">{{ link.active 
                    ? 'Link Active' : 'Link Inactive' }}
                </span>
              </label>
              <div class="col-6 d-flex justify-content-end align-items-center p-0">
                <span class="form-check form-switch">
                  <input v-model="link.active" class="form-check-input" type="checkbox" id="linkActive" :checked="link.active" @click="saveLinkData">
                </span>
              </div>

            </div>
            <!-- End Form -->
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card shadow-sm col-12">

          <div class="bg-white ps-3 border-bottom-color-blue d-flex align-items-center justify-content-between mt-2 mb-2">

            <div class="d-flex align-items-center">
              <h4 class="card-header-title mt-2 mb-2">Profile Photo</h4>
              <base-tooltip>
                <template #content>If you disable the link, your ....</template>
              </base-tooltip>
            </div>
            <div class="spinner-border text-success me-3" v-if="isLoadingImg"></div>
          </div>

          <!-- Body -->
          <div class="card-body">
            <div class="row">
              <!-- Media -->
              <div class="d-flex align-items-center bg-avatar flex-wrap flex-md-nowrap justify-content-between">
                <!-- Avatar -->

                <label class="avatar c-avatar d-flex mb-2 col-12 col-sm-3" for="avatarUploader">
                  <img v-if="link.image" id="avatarUploader" class="imagePreviewWrapper img-fluid border" :src="link.image.source" alt="Profile Image" />
                  <img v-else id="avatarUploader" class="imagePreviewWrapper img-fluid border" src="/assets/images/blank-profile.png" alt="Profile Image" />
                </label>

                <div class="d-grid d-sm-flex gap-2 ms-md-3 ms-0 col-12 col-sm-9">
                  <div class="form-attachment-btn btn btn-sm text-dark text-start pt-2 ps-0 pe-0 w-100">Upload image (max 20MB)
                    <input id="avatarUploader" class="form-control" ref="fileInput" type="file" accept=".png, .jpg, .jpeg" @input="pickFile">
                  </div>
                  <!-- End Avatar -->
                </div>
              </div>
            </div>
            <div class="input-errors w-100">
              <span class="invalid-feedback" :class="{ 'd-block': fileToLargeMsg !== '' }">{{ fileToLargeMsg }}</span>
            </div>
            <!-- End Media -->

          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card shadow-sm">

          <div class="bg-white ps-3 border-bottom-color-blue d-flex align-items-center justify-content-between mt-2 mb-2">
            <div class="d-flex align-items-center">
              <h4 class="mt-2 mb-2">User Info</h4>
              <base-tooltip>
                <template #content>If you disable the link, your ....</template>
              </base-tooltip>
            </div>
            <div class="spinner-border text-success ms-3" v-if="isLoading"></div>
          </div>

          <!-- Body -->
          <div class="card-body">
            <form @submit.prevent="saveUserData">

              <!-- Form -->
              <div class="row mb-4">
                <label for="username" class="col-sm-3 col-form-label form-label">Username</label>

                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" :value="link.username" disabled />
                  </div>
                </div>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="row mb-4">
                <label for="emailLabel" class="col-sm-3 col-form-label form-label">Email</label>

                <div class="col-sm-9">
                  <input type="email" class="form-control" name="email" id="emailLabel" placeholder="Email" :value="user.email" disabled />
                  <div class="alert alert-soft-danger text-center card-danger mt-3" v-if="user.is_confirmed === 0 || user.is_confirmed === false">
                    <p>Your email address has not been verified. Verify your email!</p>
                    <a class="alert-link cursor-pointer" @click.prevent="sendConfirmationEmail()">Click here and resend your verification link.</a>
                  </div>
                  <div class="alert alert-soft-success text-center card-success mt-3" v-else>
                    Email verified!
                  </div>
                </div>
              </div>

              <!-- End Form -->

              <!-- Form -->
              <div class="row mb-4">
                <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Full name </label>

                <div class="col-sm-9">
                  <div class="input-group">

                    <input v-model="form.name" @blur="v$.form.name.$touch" type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Full name" />
                    <div class="input-errors w-100" v-for="error of v$.form.name.$errors" :key="error.$uid">
                      <span class="invalid-feedback" :class="{ 'd-block': v$.form.name.$error }">{{ error.$message }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="row mb-4">
                <label for="description" class="col-sm-3 col-form-label form-label">Description</label>

                <div class="col-sm-9">
                  <div class="input-group">
                    <input v-model="form.description" type="text" class="form-control" name="description" id="description" placeholder="Description" />
                  </div>
                </div>
              </div>
              <!-- End Form -->
              <!-- Form -->
              <div class="row mb-4">
                <label for="payout" class="col-sm-3 col-form-label form-label">Payout</label>

                <div class="col-sm-9 d-flex justify-content-start">
                  <div class="input-group cx">

                    <select name="payout" id="payout" v-model="form.payout_option">
                      <option :value="item.value" v-for="(item, i) in payment" :key="i" :selected="form.payout_option === item.value">{{ item.name }}</option>
                      <option value="crypto" disabled>Crypto (comming soon)</option>
                    </select>

                  </div>
                </div>
              </div>
              <!-- End Form -->

              <div class="d-flex justify-content-end align-items-center">
                <button class="btn btn-primary d-flex justify-content-end align-items-center">Save changes <div class="spinner-border text-success ms-3" v-if="isLoading"></div></button>
              </div>

            </form>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Col -->
  </div>
</template>

<script>
import UploadService from "../../services/uploadImageAvatar.js";
import ImgCrop from "./partials/ImgCrop.vue";
import LinkService from "../../services/links.js";
import PassService from "../../services/password.js";
import AuthService from "../../services/auth.js";
import { useToast } from "vue-toastification";
import useVuelidate from "@vuelidate/core";
import { minLength } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  validations() {
    return {
      form: {
        name: {
          minLength: minLength(3),
          $dirty: true,
        },
      },
    };
  },
  components: {
    ImgCrop,
  },
  data() {
    return {
      form: {
        description: "",
        name: "",
      },
      isLoadingLink: false,
      openModalCrop: false,
      isLoadingImg: false,
      isLoading: false,
      toast: useToast(),
      linkId: this.$route.params.id,
      link: {},
      user: {},
      fileToLargeMsg: "",
      previewImage: null,
      payment: {
        default: {
          name: "Select Payout",
          value: null,
        },
        iban: {
          name: "Direkt bank transfer (IBAN)",
          value: "iban",
        },
        payoneer: {
          name: "Payoneer",
          value: "payoneer",
        },
        paypal: {
          name: "Paypal",
          value: "paypal",
        },
      },
    };
  },
  methods: {
    closePop() {
      this.openModalCrop = false;
      this.$refs.fileInput.value = "";
    },

    async getLinkData() {
      if (!this.linkId) {
        return;
      }
      try {
        await LinkService.getLink(this.linkId).then((response) => {
          let data = response.data.data;
          this.link = data;
          this.form.description = data.description;
          this.form.payout_option = data.payout_option;
          this.form.name = data.name;
        });
      } catch (error) {
        this.toast.error(error.message || "Failed to get link data!");
      }
    },

    async saveLinkData() {
      this.isLoadingLink = true;

      try {
        // TO DO; WRONG
        let status = { active: this.link.active === true ? 1 : 0 };
        await LinkService.updateLink(this.linkId, status);

        this.toast.success("Link status updated!");
      } catch (error) {
        this.toast.error(error.message || "Failed to save link.");
      }
      this.isLoadingLink = false;
    },

    async saveUserData() {
      this.isLoading = true;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        // this.v$.form.name.$touch();
        this.isLoading = false;
        return;
      }

      try {
        let formData = {
          active: this.link.active ? 1 : 0,
          description: this.form.description,
          name: this.form.name,
          payout_option: this.form.payout_option,
        };

        await LinkService.updateLink(this.linkId, formData);

        this.toast.success("Saved!");
      } catch (error) {
        this.toast.error(error.message || "Failed to save user data.");
      }
      this.isLoading = false;
    },

    async pickFile() {
      this.fileToLargeMsg = "";
      try {
        let input = this.$refs.fileInput;
        let file = input.files;

        const fileSizeinKb = file[0].size / 1024;
        const fileSizeInMB = fileSizeinKb / 1024;
        const size = Math.round(fileSizeInMB * 100) / 100;

        if (file && file[0] && size < 20) {
          let reader = new FileReader();
          reader.onload = (e) => {
            this.previewImage = e.target.result;
          };
          reader.readAsDataURL(file[0]);

          this.openModalCrop = true;
        } else {
          this.fileToLargeMsg = "File too large. Please try a smaller image.";
        }
      } catch (error) {
        this.toast.error(error.message || "Failed! Please try again.");
      }
    },

    dataURLtoFile(dataUrl, fileName) {
      var arr = dataUrl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], fileName, { type: mime });
    },

    async cropImage(imgData) {
      this.isLoadingImg = true;
      const img = this.dataURLtoFile(imgData, "profile_image");

      try {
        await UploadService.userAvatarUpload(this.linkId, img);
        this.toast.success("Profile image uploded.");
      } catch (error) {
        this.toast.error(error.message || "Failed to crop image.");
      }
      this.link.image.source = imgData;
      this.previewImage = null;
      this.openModalCrop = false;
      this.$refs.fileInput.value = "";
      this.isLoadingImg = false;
    },

    async sendConfirmationEmail() {
      try {
        let formData = {
          email: this.user.email,
          app: "impact",
        };
        await PassService.resendEmailConfirmation(formData);

        this.toast.success("Confirmation email sent. Please check your email.");
      } catch (err) {
        this.toast.error(err.message || "Failed to send email.");
      }
    },

    async getUserData() {
      let { data } = await AuthService.getLoggedUser();
      this.user = data.data;
    },
  },
  created() {
    this.getLinkData();
    this.getUserData();
  },
};
</script>

<style scoped lang="scss">
.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.c-avatar {
  width: 8rem;
  height: auto;
}

.imagePreviewWrapper {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  background-size: contain;
  background-position: center center;
}

#payout {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  z-index: 1;
  grid-area: select;

  &::after {
    grid-area: select;
  }

  &::-ms-expand {
    display: none;
  }
}

.form-check-input:checked {
  background-color: #fdbf35;
}

.c-badgeLink {
  &--link {
    font-size: 1rem;
  }
}

.cx {
  width: 100%;
  border: 1px solid #8631cc;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-avatar {
    width: 50%;
    height: auto;
  }
  .spinner-border {
    width: 1rem;
    height: 1rem;
  }
}
</style>