<template>

  <div class="row">
    <div class="col-12 c-top--requests min-vh-100">
      <div class="flex-grow-1 mx-auto c-top--requests-form">
        <div class="text-center mb-5">
          <img class="z-index-2 logo-width-9" src="/assets/images/strive_impact.svg" alt="Logo Strive" />
        </div>
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1>Welcome back</h1>
          <p>Login to manage your account.</p>
        </div>
        <!-- End Heading -->
        <form @submit.prevent="submitData">
          <!-- Form Group -->
          <div class="mb-4">
            <label class="form-label" for="email">Your email *</label>
            <input v-model="form.email" @blur="v$.form.email.$touch" type="email" class="form-control form-control-lg" :class="{ 'invalid': v$.form.email.$error }" name="email" id="email" placeholder="ime@google.com" />
            <div class="input-errors w-100" v-for="error of v$.form.email.$errors" :key="error.$uid">
              <span class="invalid-feedback" :class="{ 'd-block': v$.form.email.$error }">{{ error.$message }}</span>
            </div>
          </div>
          <!-- End Form -->
          <!-- Form -->
          <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
              <label class="form-label" for="password">Password *</label>

              <router-link class="form-label-link bottom-hover" to="/reset">Forgot Password?</router-link>
            </div>

            <div class="input-group input-group-merge" :class="{ 'invalid': v$.form.password.$error }">
              <input v-model="form.password" @blur="v$.form.password.$touch" :type="passwordHide" class="form-control form-control-lg" name="password" id="password" placeholder="Unesi lozinku" />
              <a class="input-group-append input-group-text cursor-pointer" @click.prevent="toggleVisibility()">
                <BootstrapIcon icon="eye" size="md" v-if="!passVisibility" />
                <BootstrapIcon icon="eye-slash" size="md" v-else />
              </a>
            </div>
            <div class="input-errors w-100" v-for="error of v$.form.password.$errors" :key="error.$uid">
              <span class="invalid-feedback" :class="{ 'd-block': v$.form.password.$error }">{{ error.$message }}</span>
            </div>
          </div>
          <!-- End Form -->

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-lg d-flex justify-content-center align-items-center">Log in <div class="spinner-border text-success ms-3" v-if="isLoading"></div></button>
          </div>

          <div class="text-center">
            <p>Don't have an account yet? <router-link class="link bottom-hover" to="/register">Sign up here</router-link>
            </p>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

</template>


<script>
import AuthService from "../../services/auth.js";
import { useToast } from "vue-toastification";
import Api from "../../services/api.js";
import useVuelidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      isLoading: false,
      passVisibility: true,
      toast: useToast(),
    };
  },
  validations() {
    return {
      form: {
        password: {
          required,
        },
        email: {
          required,
          email,
        },
      },
    };
  },
  methods: {
    toggleVisibility() {
      this.passVisibility = !this.passVisibility;
    },
    async submitData() {
      this.isLoading = true;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        this.isLoading = false;
        return;
      }

      try {
        const formData = {
          email: this.form.email,
          password: this.form.password,
          device: "web",
          returnSecureToken: true,
        };

        await AuthService.login(formData).then((r) => {
          const mode = process.env.NODE_ENV;
          let token = r.data.data.token;

          // @todo: this is hack to avoid proxy
          if (mode === "development") {
            window.localStorage.setItem("Api-Token", token);
            Api.defaults.headers.Authorization = "Bearer " + token;
          }
        });

        this.$router.replace(`/links`);
      } catch (err) {
        this.toast.error(err.response.data.message);
      }

      this.isLoading = false;
    },
  },
  computed: {
    passwordHide() {
      return this.passVisibility ? "password" : "text";
    },
  },
};
</script>

<style lang="scss">
.c-top--requests {
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    max-width: 28rem;
  }
}

@media screen and (max-width: 991px) {
  .c-top--requests {
    align-items: flex-start;

    &-form {
      margin-top: 50px;
    }
  }
}
</style>
