<template>
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
      <div class="card mb-5 shadow-sm bg-white rounded">
        <div class="text-center p-2 border-bottom-color-blue">
          <h3 class="card-header-title">Create new Link</h3>
        </div>
        <div class="card-body p-3">

          <form @submit.prevent="submitData">

            <label class="form-label" for="username">Username *</label>

            <div class="input-group mb-3">

              <span class="input-group-text text-dark fw-bolder" :class="{ 'invalid': v$.form.username.$error && !v$.form.username.isUnique.$pending && v$.form.username.$dirty && !v$.form.username.isUnique.$response, 'is-valid': !v$.form.username.$error && v$.form.username.$dirty && v$.form.username.isUnique.$response && !v$.form.username.isUnique.$pending }">@</span>

              <input type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Enter username" :class="{ 'invalid': v$.form.username.$error && v$.form.username.$dirty && !v$.form.username.isUnique.$response && !v$.form.username.isUnique.$pending, 'is-valid': !v$.form.username.$error && v$.form.username.$dirty && v$.form.username.isUnique.$response  && !v$.form.username.isUnique.$pending }" v-model="form.username" @input="v$.form.username.$touch" />

              <span class="invalid-feedback w-100" :class="!v$.form.username.isUnique.$response && !v$.form.username.minLength.$invalid && !v$.form.username.isUnique.$pending && form.username !== '' ? 'd-block' : '' ">This username is already registered.</span>
              <div class="input-errors w-100" v-for="error of v$.form.username.$errors" :key="error.$uid">
                <span class="invalid-feedback" :class="{ 'd-block': v$.form.username.$error }">{{ error.$message }}</span>
              </div>

            </div>

            <button class="btn btn-md d-flex justify-content-center align-items-center m-auto">Create <div class="spinner-border text-success ms-3" v-if="isLoading"></div></button>
          </form>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import LinkService from "../../services/links.js";
import AuthService from "../../services/auth.js";
import { useToast } from "vue-toastification";
import useVuelidate from "@vuelidate/core";
import { required, minLength, helpers, alphaNum } from "@vuelidate/validators";
const { withAsync } = helpers;

let timeout = null;

const isUnique = withAsync(async (value) => {
  if (value === "") return true;
  clearTimeout(timeout);

  if (value && value.length >= 6) {
    return new Promise((resolve) => {
      let timeout = setTimeout(async () => {
        const { data } = await AuthService.usernameExists(value);
        resolve(!data.data.exists);
      }, 300);
      return timeout;
    });
  } else {
    return true;
  }
});

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        username: "",
      },
      isLoading: false,
      linkId: null,
      toast: useToast(),
    };
  },
  validations() {
    return {
      form: {
        username: {
          required,
          minLength: minLength(6),
          isUnique: withAsync(isUnique),
          $dirty: true,
          alphaNum,
        },
      },
    };
  },
  methods: {
    async submitData() {
      this.form.username.trim();
      this.isLoading = true;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        this.isLoading = false;
        return;
      }
      try {
        const formData = {
          username: this.form.username,
          active: true,
        };

        const data = await LinkService.createLink(formData);
        this.linkId = data.data.data.id;
        this.toast.success("New link created!");

        this.$router.replace(`/link/${this.linkId}/settings`);
      } catch (err) {
        this.toast.error(err.message || "Failed to create link!");
      }
      this.isLoading = false;
    },
  },
};
</script>
