<template>
  <div class="row">

    <div class="col-12 c-top--requests min-vh-100">
      <div class="flex-grow-1 mx-auto c-top--requests-form">
        <div class="text-center mb-5">
          <img class="z-index-2 logo-width-9" src="/assets/images/strive_impact.svg" alt="Logo Strive" />
        </div>
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7" v-if="!isRegistrated">
          <h1>Welcome</h1>
          <p>Fill out the form to get started.</p>
        </div>
        <div class="text-center mb-5 mb-md-7" v-else>
          <h1 class="mb-3">Registration successfull!</h1>
          <p>We've sent you an email with a confirmation link.</p>
          <p>In order to complete the registration process, please verify your email.</p>
          <p class="small-font">Check your Spam folder if the email is not in your primary inbox.</p>
        </div>
        <!-- End Heading -->
        <form @submit.prevent="submitData" v-if="!isRegistrated">
          <label class="form-label" for="username">Username *</label>
          <div class="input-group mb-3">
            <span class="input-group-text text-dark fw-bolder" :class="{ 'invalid': v$.form.username.$error&& !v$.form.username.isUnique.$pending && v$.form.username.$dirty && !v$.form.username.isUnique.$response, 'is-valid': !v$.form.username.$error && v$.form.username.$dirty && v$.form.username.isUnique.$response && !v$.form.username.isUnique.$pending }">@</span>
            <input type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Enter username" :class="{ 'invalid': v$.form.username.$error && v$.form.username.$dirty && !v$.form.username.isUnique.$pending && !v$.form.username.isUnique.$response, 'is-valid': !v$.form.username.$error && v$.form.username.$dirty && v$.form.username.isUnique.$response && !v$.form.username.isUnique.$pending }" v-model="form.username" @input="v$.form.username.$touch" />

            <p class="small-font m-0 w-100 italic pt-1">(min. 6 characters)</p>
            <span class="invalid-feedback w-100" :class="!v$.form.username.isUnique.$response && !v$.form.username.minLength.$invalid && !v$.form.username.isUnique.$pending && form.username !== '' ? 'd-block' : '' ">This username is already registered.</span>

            <div class="input-errors w-100" v-for="error of v$.form.username.$errors" :key="error.$uid">
              <span class="invalid-feedback" :class="{ 'd-block': v$.form.username.$error }">{{ error.$message }}</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email *</label>
            <input type="email" class="form-control form-control-lg" :class="{ 'invalid': v$.form.email.$error && v$.form.email.$dirty, 'is-valid': !v$.form.email.$error && v$.form.email.$dirty }" name="email" id="email" placeholder="Enter email" v-model="form.email" @blur="v$.form.email.$touch" />
            <div class="input-errors w-100" v-for="error of v$.form.email.$errors" :key="error.$uid">
              <span class="invalid-feedback" :class="{ 'd-block': v$.form.email.$error }">{{ error.$message }}</span>
            </div>
          </div>

          <div class=" mb-3">
            <label class="form-label" for="password">Password *</label>

            <div class="input-group input-group-merge" :class="{ 'invalid': v$.form.password.$error && v$.form.password.$dirty, 'is-valid': !v$.form.password.$error && v$.form.password.$dirty }">
              <input v-model.trim="form.password" @blur="v$.form.password.$touch" :type="passwordHide" class="form-control form-control-lg" name="password" id="password" placeholder="Enter password" />
              <a class="input-group-append input-group-text cursor-pointer" @click.prevent="toggleVisibility()">
                <BootstrapIcon icon="eye" size="md" v-if="passVisibility" />
                <BootstrapIcon icon="eye-slash" size="md" v-else />
              </a>
            </div>

            <p class="small-font m-0 w-100 italic pt-1">(min. 6 characters)</p>
            <div class="input-errors w-100" v-for="error of v$.form.password.$errors" :key="error.$uid">
              <span class="invalid-feedback" :class="{ 'd-block': v$.form.password.$error }">{{ error.$message }}</span>
            </div>
          </div>

          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="terms" name="terms" v-model="form.terms" @blur="v$.form.terms.$touch">
            <label class="form-check-label small" for="terms"> By submitting this form I have read and acknowledged the <a href="./page-privacy.html" class="bottom-hover">Privacy Policy</a></label>
            <span class="invalid-feedback" :class="{ 'd-block': v$.form.terms.$error }">Plese check T&C</span>
          </div>

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-lg d-flex align-items-center justify-content-center">
              Sign up <div class="spinner-border text-success ms-3" v-if="isLoading"></div>
            </button>

          </div>
          <div class="text-center">
            <p>Already have an account? <router-link class="link bottom-hover" to="/login">Log in here</router-link>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from "../../services/auth.js";
import LinkService from "../../services/links.js";
import { useToast } from "vue-toastification";
import useVuelidate from "@vuelidate/core";
import {
  required,
  email,
  minLength,
  alphaNum,
  helpers,
} from "@vuelidate/validators";

const { withAsync } = helpers;

// let timeout = null;

// const isUnique = withAsync(async (value) => {
//   value.trim();
//   if (value === "") return true;
//   return new Promise((resolve) => {
//     clearTimeout(timeout);

//     timeout = setTimeout(async function () {
//       if (value && value.length >= 6) {
//         try {
//           let { data } = await AuthService.usernameExists(value);
//           resolve(data.data.exists ? false : true);
//         } catch (error) {
//           console.log(error);
//           resolve(false);
//         }
//       } else {
//         resolve(false);
//       }
//     }, 1000);
//   });
// });

const isUnique = withAsync(async (value) => {
  if (value === "") return true;
  if (value && value.length >= 6) {
    try {
      let { data } = await AuthService.usernameExists(value);
      return data.data.exists ? false : true;
    } catch (error) {
      return false;
    }
  } else {
    return false;
  }
});

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        username: "",
        email: "",
        password: "",
        terms: null,
      },
      isLoading: false,
      passVisibility: true,
      toast: useToast(),
      searchTimeout: null,
      isRegistrated: false,
    };
  },
  validations() {
    return {
      form: {
        username: {
          required,
          minLength: minLength(6),
          isUnique: withAsync(isUnique),
          $dirty: true,
          alphaNum,
        },
        email: {
          required,
          email,
          $dirty: true,
        },
        password: {
          required,
          minLength: minLength(6),
          $dirty: true,
        },
        terms: {
          required,
        },
      },
    };
  },
  methods: {
    onInput() {
      if (this.searchTimeout) {
        clearTimeout(this.searchTimeout);
      }
      this.searchTimeout = setTimeout(() => {
        this.$emit("search-products", { term: this.username });
        this.searchTimeout = null;
      }, 200);
    },

    toggleVisibility() {
      this.passVisibility = !this.passVisibility;
    },
    async submitData() {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        return;
      }
      this.isLoading = true;

      try {
        const formData = {
          email: this.form.email,
          password: this.form.password,
          app: "impact",
        };

        await AuthService.register(formData);

        this.isRegistrated = true;
        console.log(this.isRegistrated);
      } catch (err) {
        if (err.response.data.errors.email) {
          const error = err.response.data.errors.email;
          this.toast.error(error[0]);
        }

        this.isLoading = false;
        return;
      }

      setTimeout(async () => {
        await this.autoLogin();
        await this.autoCreateLink();
        this.$router.replace(`/link/${this.linkId}/onboarding`);
        this.isRegistrated = false;
      }, 3000);
      this.isLoading = false;
    },

    async autoLogin() {
      try {
        let loginAfter = {
          email: this.form.email,
          password: this.form.password,
          device: "web",
          returnSecureToken: true,
        };

        await AuthService.login(loginAfter);
      } catch (err) {
        this.isLoading = false;
        return this.toast.error(err.response.data.message);
      }
    },

    async autoCreateLink() {
      try {
        let link = {
          username: this.form.username,
          active: true,
        };

        let request = await LinkService.createLink(link);

        this.linkId = request.data.data.id;
      } catch (err) {
        this.isLoading = false;
        return this.toast.error(err.response.data.message);
      }
    },
  },
  computed: {
    passwordHide() {
      return this.passVisibility ? "password" : "text";
    },
  },
};
</script>

<style lang="scss">
.c-spinner-border-username {
  right: 5px;
  top: 10px;
}

@media screen and (max-width: 767px) {
  .c-spinner-border-username {
    right: 5px;
    top: 16px;
  }
}
</style>