<template>
  <div class="col-12 c-top--requests min-vh-100">
    <div class="flex-grow-1 mx-auto c-top--requests-form">
      <div class="d-flex justify-content-center mb-5">
        <img class="z-index-2 logo-width-5" src="/assets/images/strive_mark.svg" alt="Image Description" />
      </div>
      <form @submit.prevent="submitData">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1>Enter new password</h1>
        </div>
        <!-- End Heading -->

        <!-- Form Group -->
        <div class="mb-3">

          <label class="form-label" for="password" tabindex="0">New Password *</label>
          <div class="input-group input-group-merge" :class="{ invalid: v$.form.password.$error }">
            <input v-model="form.password" @blur="v$.form.password.$touch" :type="passwordHide" class="form-control form-control-lg" name="password" autocomplete="off" id="password" placeholder="6+ characters required" tabindex="1" />
            <a class="input-group-append input-group-text cursor-pointer" @click.prevent="toggleVisibility()">
              <BootstrapIcon icon="eye" size="md" v-if="passVisibility" />
              <BootstrapIcon icon="eye-slash" size="md" v-else />
            </a>
          </div>
          <div class="input-errors w-100" v-for="error of v$.form.password.$errors" :key="error.$uid">
            <span class="invalid-feedback" :class="{ 'd-block': v$.form.password.$error }">{{ error.$message }}</span>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div>
          <label class="form-label" for="passwordCheck" tabindex="0">Confirm password *</label>
          <div class="input-group input-group-merge" :class="{ invalid: v$.form.passwordCheck.$error }">
            <input v-model="form.passwordCheck" @blur="v$.form.passwordCheck.$touch" :type="passwordHide" class="form-control form-control-lg" name="passwordCheck" autocomplete="off" id="passwordCheck" placeholder="6+ characters required" tabindex="1" />
            <a class="input-group-append input-group-text cursor-pointer" @click.prevent="toggleVisibility()">
              <BootstrapIcon icon="eye" size="md" v-if="passVisibility" />
              <BootstrapIcon icon="eye-slash" size="md" v-else />
            </a>
          </div>
          <div class="input-errors w-100" v-for="error of v$.form.passwordCheck.$errors" :key="error.$uid">
            <span class="invalid-feedback" :class="{ 'd-block': v$.form.passwordCheck.$error }">{{ error.$message }}</span>
          </div>
        </div>
        <!-- End Form Group -->

        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-lg btn-block btn-primary d-flex align-items-center justify-content-center">Submit <div class="spinner-border text-success ms-3" v-if="isLoading"></div></button>
        </div>
        <div class="text-center mt-3">
          <router-link class="bottom-hover" to="/login">Back to Login</router-link>
        </div>
      </form>
    </div>
  </div>
</template>


<script>
import ResetPassService from "../../services/password.js";
import { useToast } from "vue-toastification";
import useVuelidate from "@vuelidate/core";
import { required, minLength, sameAs } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        password: "",
        passwordCheck: "",
      },
      isLoading: false,
      passVisibility: true,
      token: null,
      toast: useToast(),
    };
  },
  validations() {
    return {
      form: {
        password: {
          required,
          minLength: minLength(6),
          $lazy: true,
        },
        passwordCheck: {
          sameAsPassword: sameAs(this.form.password),
          required,
          minLength: minLength(6),
          $lazy: true,
        },
      },
    };
  },
  methods: {
    toggleVisibility() {
      this.passVisibility = !this.passVisibility;
    },

    async submitData() {
      this.isLoading = true;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        this.isLoading = false;
        return;
      }

      try {
        const formData = {
          password: this.form.password,
          token: this.token,
        };
        await ResetPassService.setNewPassword(formData);
        this.$router.replace("/login");
      } catch (err) {
        this.toast.error(err.message || "Failed to authenticate");
      }

      this.isLoading = false;
    },

    getTokenFromUrl() {
      this.token = this.$route.query.token;
    },
  },
  computed: {
    passwordHide() {
      return this.passVisibility ? "password" : "text";
    },
  },
  created() {
    this.getTokenFromUrl();
  },
};
</script>