<template>
  <div class="col-12 c-top--requests min-vh-100">
    <div class="flex-grow-1 mx-auto c-top--requests-form">
      <div class="d-flex justify-content-center mb-5">
        <img class="z-index-2" src="/assets/images/strive_mark.svg" alt="Image Description" style="width: 4rem" />
      </div>

      <div v-if="onSent" class="text-center">
        <h2>Thank you!</h2>
        <h4>We have sent you an email, please check your email.</h4>
        <router-link to="/login" class="btn btn-primary mt-3 bottom-hover">Back to Login</router-link>
      </div>

      <!-- Form -->
      <form v-else @submit.prevent="submitData">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1>Forgot password?</h1>
          <p>Enter your email address below and we'll send you an email with a link to set a new password.</p>
        </div>
        <!-- End Heading -->
        <!-- Form -->
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="email" tabindex="0">Email *</label>
            <router-link class="form-label-link bottom-hover" to="/login">Back to Log in</router-link>
          </div>

          <input v-model="form.email" @blur="v$.form.email.$touch" :class="{ invalid: v$.form.email.$error }" type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Enter your email address" tabindex="1" />
          <div class="input-errors w-100" v-for="error of v$.form.email.$errors" :key="error.$uid">
            <span class="invalid-feedback" :class="{ 'd-block': v$.form.email.$error }">{{ error.$message }}</span>
          </div>
        </div>
        <!-- End Form -->

        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-lg btn-block btn-primary d-flex align-items-center justify-content-center">Submit <div class="spinner-border text-success ms-3" v-if="isLoading"></div></button>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
</template>


<script>
import ResetPassService from "../../services/password.js";
import { useToast } from "vue-toastification";
import useVuelidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";

export default {
  setup() {
    return { v$: useVuelidate() };
  },
  data() {
    return {
      form: {
        email: "",
      },
      isLoading: false,
      toast: useToast(),
      onSent: false,
      token: null,
    };
  },
  validations() {
    return {
      form: {
        email: {
          required,
          email,
        },
      },
    };
  },
  methods: {
    async submitData() {
      this.isLoading = true;
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        this.isLoading = false;
        return;
      }

      try {
        const formData = {
          email: this.form.email,
          app: "impact",
        };

        let { data } = await ResetPassService.requestNewPassword(formData);
        this.token = data.data.token;

        let url = `https://impact.getstrive.so/password-reset?token=${this.token}`;
        console.log(url);
        this.onSent = true;
      } catch (err) {
        if (err.response.data.errors.email) {
          const error = err.response.data.errors.email;
          this.toast.error(error[0]);
        }
      }

      this.isLoading = false;
    },
  },
};
</script>