<template>
  <div class="row c-borderAll">
    <!-- EARNING, SALES, LINK CLICKS, click per countyr, order list -->
    <chart-block v-for="chart in charts" :key="chart.name" :chart="chart"></chart-block>
  </div>

  <div class="row c-borderAll">

    <div class="col-lg-6 mb-3 mb-lg-0">
      <!-- ORDERS -->
      <order-block></order-block>
    </div>
    <!-- End Card -->
    <div class="col-lg-6">
      <report-block></report-block>
    </div>
  </div>
</template>


<script>
import ChartBlock from "./partials/ChartBlock.vue";
import OrderBlock from "./partials/OrderBlock.vue";
import ReportBlock from "./partials/ReportBlock.vue";
import { chart1, chart2, chart3, chart4 } from "./charts/charts.js";

export default {
  components: {
    ChartBlock,
    OrderBlock,
    ReportBlock,
  },
  data() {
    return {
      charts: [chart1, chart2, chart3, chart4],
    };
  },
  methods: {},
};
</script>