<template>
  <img-modal :show="openPop" @close="closePop" @submit="saveCroped" :img-crop-loading="imgCropLoading">
    <template v-slot:content>
      <cropper class="cropper" :src="uplodedImg" :stencil-props="{
        handlers: {},
        movable: false,
        scalable: false,
        aspectRatio: 1/1,
        class: 'cropper-stencil',
        previewClass: 'cropper-stencil__preview',
        draggingClass: 'cropper-stencil--dragging',
        handlersClasses: {
          default: 'cropper-handler',
          eastNorth: 'cropper-handler--east-north',
          westNorth: 'cropper-handler--west-north',
          eastSouth: 'cropper-handler--east-south',
          westSouth: 'cropper-handler--west-south',
        },
        handlersWrappersClasses: {
          default: 'cropper-handler-wrapper',
          eastNorth: 'cropper-handler-wrapper--east-north',
          westNorth: 'cropper-handler-wrapper--west-north',
          eastSouth: 'cropper-handler-wrapper--east-south',
          westSouth: 'cropper-handler-wrapper--west-south',
        },
      }" :resize-image="{
      adjustStencil: false
      }" image-restriction="stencil" @change="change"></cropper>
    </template>
  </img-modal>
</template>

<script>
import { Cropper } from "vue-advanced-cropper";
import ImgModal from "./ImgModal.vue";
import "vue-advanced-cropper/dist/style.css";

export default {
  emits: ["close", "submit"],
  props: {
    openPop: {
      type: Boolean,
      default: false,
    },
    uplodedImg: {
      type: String,
      default: "",
    },
    imgCropLoading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      cropedImg: "",
    };
  },
  components: {
    Cropper,
    ImgModal,
  },
  methods: {
    closePop() {
      this.$emit("close");
    },
    change({ canvas }) {
      this.cropedImg = canvas.toDataURL();
    },
    saveCroped() {
      if (this.cropedImg === "") {
        this.$emit("submit", this.uplodedImg);
      } else {
        this.$emit("submit", this.cropedImg);
      }
    },
  },
};
</script>