<template>
  <teleport to="body">
    <div v-if="show" @click="tryClose" class="backdrop"></div>
    <transition name="dialog">
      <dialog open v-if="show">
        <div class="d-flex justify-content-end align-items-center me-3 mt-2">
          <BootstrapIcon icon="x" size="lg" @click="tryClose" class="cursor-pointer" />
        </div>
        <section>
          <slot name="content"></slot>
        </section>
        <div class="d-flex justify-content-end align-items-center me-3 mb-3">
          <button class="btn btn-primary d-flex justify-content-center align-items-center" @click="submitImg">Submit <div class="spinner-border text-success ms-3" v-if="imgCropLoading"></div></button>
        </div>
      </dialog>
    </transition>
  </teleport>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    imgCropLoading: {
      type: Boolean,
      required: false,
    },
  },
  emits: ["close", "submit"],
  methods: {
    tryClose() {
      this.$emit("close");
    },
    submitImg() {
      this.$emit("submit");
    },
  },
};
</script>

<style scoped>
.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

dialog {
  position: fixed;
  top: 50px;
  left: 10%;
  width: 80%;
  z-index: 100;
  border-radius: 12px;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #e1e1e1;
}

header {
  background: rgba(164, 158, 158, 0.177);
  color: white;
  width: 100%;
  padding: 1rem;
}

header h2 {
  margin: 0;
}

section {
  padding: 1rem;
}

menu {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.dialog-enter-active {
  transition: all 0.3s ease-out;
}

.dialog-leave-active {
  transition: all 0.3s ease-in;
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 768px) {
  dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
  .spinner-border {
    width: 1rem;
    height: 1rem;
  }
}
</style>