<template>
  <Carousel class="d-flex flex-column vh-100">
    <Slide v-for="(slide, i) in slides" :key="slide" class="vh-100 flex-column d-flex justify-content-start">
      <div class="mt-8 mb-4">
        <h1>{{ slide.title }}</h1>
      </div>
      <img class="img-fluid" :src="slide.img" alt="Onboarding">

      <h4 class="mt-5">{{ slide.text }}</h4>
      <button v-if="i !== 2" class="btn btn-sm btn-white position-absolute c-bottomBtn-trans end-0" @click="next()">Next</button>
      <router-link v-else class="btn btn-sm btn-white position-absolute c-bottomBtn-trans end-0" :to="`/link/${linkId}/settings`">Next</router-link>

    </Slide>

    <template #addons>

      <router-link class="position-absolute c-bottomBtn start-0" :to="`/link/${linkId}/settings`">Skip
        <BootstrapIcon icon="arrow-right" size="sm" />
      </router-link>
      <Navigation />
      <Pagination />
    </template>
  </Carousel>
</template>

<script>
import { Carousel, Navigation, Slide, Pagination } from "vue3-carousel";
import "vue3-carousel/dist/carousel.css";
export default {
  name: "Onboarding",
  components: {
    Carousel,
    Slide,
    Navigation,
    Pagination,
  },
  data() {
    return {
      linkId: this.$route.params.id,
      slides: [
        {
          id: 1,
          title: "Setup your account",
          text: "Upload your profile image. Fill in your name, description and payment method located in the settings page.",
          img: "https://www.fitalert.me/media/images/blog/original/vlastiti-ciljevi-i-motivacija-76.jpg",
        },
        {
          id: 2,
          title: "Start building your page",
          text: "Using a page builder, add blocks (link, product, product list, product collection) to create your page. Arrange them as you like and add products for promotion.",
          img: "https://www.fitalert.me/media/images/blog/original/vlastiti-ciljevi-i-motivacija-76.jpg",
        },
        {
          id: 3,
          title: "Preview and share",
          text: "Preview and share your built link to start earning commissions.",
          img: "https://www.fitalert.me/media/images/product_collection/600x600/pure-form-vegan-protein-045-kg-22443f703bb64.jpg",
        },
      ],
    };
  },
  methods: {
    next() {
      document.getElementsByClassName("carousel__next")[0].click();
    },
  },
};
</script>

<style>
.carousel__prev,
.carousel__next {
  display: none !important;
}
.carousel__prev,
.carousel__next {
  color: black;
  background-color: transparent;
}

.c-bottomBtn {
  bottom: 40px;
}

.c-bottomBtn-trans {
  bottom: 40px;
}

.carousel__pagination {
  padding: 0;
}

.carousel__pagination
  .carousel__pagination-button.carousel__pagination-button--active {
  background-color: #030b74 !important;
}
</style>