<template>
  <router-view></router-view>
</template>

<style lang="scss">
@import "./assets/scss/colors.scss";
@import "./assets/scss/fonts.scss";
@import "./assets/scss/loader.scss";

html,
body {
  font-family: "Poppins", sans-serif !important;
  height: 100%;
}

.card {
  border: 0.0625rem solid $color-border-blue-opacity !important;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.max-width-body {
  margin: 0 auto;
}

.logo-width-9 {
  width: 9rem !important;
}

.logo-width-5 {
  width: 5rem !important;
}

.invalid {
  border-color: #ed4c78 !important;
}
.is-valid {
  border-color: #00c9a7 !important;
}

.form-check-input:checked[type="checkbox"] {
  background-color: #8631cc;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-label,
.input-label {
  font-weight: 500;
}

.spinner-border {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

@media screen and(max-width: 768px) {
  .spinner-border {
    width: 1rem !important;
    height: 1rem !important;
  }
}

::selection {
  background-color: $color-border-turquiose-opacity !important;
}
::-moz-selection {
  background-color: $color-border-turquiose-opacity !important;
}

.c-index-inputBlocks .input-group-text {
  color: #000;
  background-color: rgb(241 248 255);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
  transform: translateY(0px);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
