<template>

  <div class="flex p-3 c-bg">
    <draggable v-if="blocksData.length > 0" class="dragArea list-group w-full" ghost-class="ghost" handle=".handle" track-by="order_id" v-model="blocksData" @end="onEnd(blocksData, $event), drag = false" v-bind="dragOptions" @start="drag = true">
      <transition-group type="transition" :name="!drag ? 'flip-list' : null">
        <div class="list-group-item bg-gray-300 p-0 mb-4 rounded text-center shadow-sm" v-for="element in blocksData" :key="element.order_id">
          <!-- ADD LINK -->
          <div v-if="element.type === 'link'" class="d-flex card flex-row">
            <builder-link-block @remove="removeBlock(element)" @save-data="saveBlock(element)" @toggle-active="toggleCheckboxSwitch(element)" :item-data="element" :show="element.isLoading"></builder-link-block>
          </div>

          <!-- ADD PRODUCT -->
          <div v-if="element.type === 'product'" class="d-flex card flex-row">
            <builder-product-block @remove="removeBlock(element)" @save-data="saveBlock(element)" @toggle-active="toggleCheckboxSwitch(element)" :item-data="element" :show="element.isLoading"></builder-product-block>
          </div>

          <!-- ADD PRODUCT List -->
          <div v-if="element.type === 'products'" class="d-flex card flex-row">
            <builder-list-block @remove="removeBlock(element)" @save-data="saveBlock(element)" @toggle-active="toggleCheckboxSwitch(element)" :item-data="element" :show="element.isLoading"></builder-list-block>
          </div>

          <!-- ADD PRODUCT collection -->
          <div v-if="element.type === 'product_collection'" class="d-flex card flex-row">
            <builder-coll-block @remove="removeBlock(element)" @save-data="saveBlock(element)" @toggle-active="toggleCheckboxSwitch(element)" :item-data="element" :show="element.isLoading"></builder-coll-block>
          </div>
        </div>
      </transition-group>
    </draggable>

    <div class="d-flex align-items-center justify-content-center flex-md-row flex-column">
      <!-- Link BLock -->
      <builder-btn-block @click="createBlock('link')" icon="link" size="md" btn-text="+ Link " :disabled="btnCreateStop" :btnisloading="btnLoading"></builder-btn-block>

      <!-- Add product -->
      <builder-btn-block @click="createBlock('product')" icon="cart" size="md" btn-text="+ Product " :disabled="btnCreateStop" :btnisloading1="btnLoading1"></builder-btn-block>

      <!-- ADDD Product List -->
      <builder-btn-block @click="createBlock('products')" icon="list-ul" size="md" btn-text="+ Product List " :disabled="btnCreateStop" :btnisloading2="btnLoading2"></builder-btn-block>

      <!-- ADD catalog -->
      <builder-btn-block @click="createBlock('product_collection')" icon="journal" size="md" btn-text="+ Product Collection " :disabled="btnCreateStop" :btnisloading3="btnLoading3"></builder-btn-block>

      <!-- <button class="btn btn-outline-dark" @click="sort">Replace</button> -->
    </div>
  </div>

  <div class="mt-2 c-btnPreview position-sticky mt-3 zi-3 d-none d-sm-flex justify-content-between align-items-center">
    <div>
      <button :class="{ 'border-success': changeText }" @click="copyUrl(`https://getstrive.so/u/${userName}`)" class="btn btn-xs">
        <BootstrapIcon icon="link" size="md" class="me-2 mb-0" />
        <span v-if="changeText" class="text-success builder text-uppercase bold">{{ copied }}</span>
        <span v-else class="text-white builder text-uppercase bold">{{ text }}</span>
      </button>
    </div>
    <div>
      <a class="btn btn-xs text-white builder text-uppercase" :href="`https://getstrive.so/u/${userName}`" target="_blank">Preview your page</a>
    </div>
  </div>

</template>

<script>
import { VueDraggableNext } from "vue-draggable-next";
import BuilderBtnBlock from "../blocks/BuilderBtnBlock.vue";
import LinkBlocks from "../../../services/blocks.js";
import BuilderLinkBlock from "../blocks/items/BuilderLinkBlock.vue";
import BuilderProductBlock from "../blocks/items/BuilderProductBlock.vue";
import BuilderListBlock from "../blocks/items/BuilderListBlock.vue";
import BuilderCollBlock from "../blocks/items/BuilderCollBlock.vue";
import { useToast } from "vue-toastification";

export default {
  components: {
    draggable: VueDraggableNext,
    BuilderBtnBlock,
    BuilderLinkBlock,
    BuilderProductBlock,
    BuilderListBlock,
    BuilderCollBlock,
  },
  props: {
    userName: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      toast: useToast(),
      blocksData: [],
      linkId: +this.$route.params.id,
      enabled: true,
      dragging: false,
      blockId: null,
      btnCreateStop: false,
      btnLoading: false,
      btnLoading1: false,
      btnLoading2: false,
      btnLoading3: false,
      drag: false,
      url: "",
      text: "Copy link",
      copied: "Link copied!",
      changeText: false,
    };
  },
  methods: {
    copyUrl(url) {
      this.timeoutText();
      this.url = url;
      navigator.clipboard.writeText(this.url);
    },

    timeoutText() {
      this.changeText = true;
      setTimeout(() => {
        this.changeText = false;
      }, 3000);
    },

    async onEnd() {
      this.reorder();
    },

    // GET BLOCKS AND SORT
    async getLinkBlock() {
      try {
        return await LinkBlocks.getLinkBlockList(this.linkId).then(
          (response) => {
            if (response.data.data.length != 0) {
              this.blocksData = response.data.data;
              this.blocksData.sort((a, b) => {
                return a.order_id - b.order_id;
              });
              this.blocksData.map((item) => {
                if (item.type === "link") {
                  if (item.data.title !== null || item.data.url !== null) {
                    return (item.isValid = true);
                  } else {
                    return (item.isValid = false);
                  }
                }

                if (item.type === "product") {
                  if (item.data.id !== null) {
                    return (item.isValid = true);
                  } else {
                    return (item.isValid = false);
                  }
                }
                if (item.type === "products") {
                  if (item.data.products.length > 0) {
                    return (item.isValid = true);
                  } else {
                    return (item.isValid = false);
                  }
                }
                if (item.type === "product_collection") {
                  if (
                    item.data.name !== null ||
                    item.data.description !== null ||
                    item.data.products.length > 0
                  ) {
                    return (item.isValid = true);
                  } else {
                    return (item.isValid = false);
                  }
                }
              });
              return this.blocksData;
            }
            return;
          }
        );
      } catch (error) {
        this.toast.error(error.message || "Failed to authenticate.");
      }
    },

    // Delete BLOCK
    async removeBlock(element) {
      element.isLoading = true;

      try {
        if (element.id !== null) {
          await LinkBlocks.deleteBlock(element.id, element);
        }

        let item = this.blocksData.indexOf(element);
        element.isLoading = false;
        this.blocksData.splice(item, 1);

        this.reorder();
      } catch (error) {
        if (error.response.isAxiosError) {
          const err = error.response.data.errors;
          this.toast.error(err[0]);
        }
      }
    },

    async reorder() {
      try {
        await this.blocksData.map((item, i) => {
          let block = Object.assign({}, item);
          block["order_id"] = i;
          LinkBlocks.updateBlock(item.id, block);
          return block;
        });
      } catch (error) {
        this.toast.error(error.message || "Failed to reorder.");
      }
    },

    // Active - inactive
    async toggleCheckboxSwitch(element) {
      element.isLoading = true;
      element.active = !element.active;

      try {
        if (element.id !== null) {
          await LinkBlocks.updateBlock(element.id, element);
        }
      } catch (error) {
        this.toast.error(error.message || "Failed to switch.");
      }
      element.isLoading = false;
    },

    //CREATE
    async createBlock(type) {
      this.btnCreateStop = true;
      let elementData = {};

      switch (type) {
        case "link":
          this.btnLoading = true;
          elementData = {
            title: "",
            url: "",
          };
          break;

        case "product":
          this.btnLoading1 = true;
          elementData = {
            id: null,
          };
          break;

        case "products":
          this.btnLoading2 = true;
          elementData = {
            products: [],
          };
          break;

        case "product_collection":
          this.btnLoading3 = true;
          elementData = {
            name: "",
            description: "",
            products: [],
          };
          break;
      }

      let item = {
        id: null,
        type: type,
        active: false,
        isLoading: false,
        order_id: +this.getblocksDataLength,
        data: elementData,
      };

      await LinkBlocks.create(this.linkId, item).then((res) => {
        item.id = res.data.id;
      });

      await this.blocksData.push(item);
      this.btnCreateStop = false;
      this.btnLoading = false;
      this.btnLoading1 = false;
      this.btnLoading2 = false;
      this.btnLoading3 = false;
    },

    // SAVE
    async saveBlock(element) {
      element.isLoading = true;

      try {
        if (element.id !== null) {
          await LinkBlocks.updateBlock(element.id, element);
        }
      } catch (error) {
        this.toast.error(error.message || "Failed to save.");
      }

      element.isLoading = false;
    },
  },

  computed: {
    getblocksDataLength() {
      return this.blocksData.length;
    },
    dragOptions() {
      return {
        animation: 200,
        disabled: false,
      };
    },
  },
  created() {
    this.getLinkBlock();
  },
};
</script>


<style>
.c-bg {
  background-color: #f8fafd;
}
.c-btnPreview {
  bottom: 20px;
}
.c-index-inputBlocks {
  justify-content: flex-end;
  z-index: 2;
}
/* .custom-border {
  outline: 0;
  border-width: 0 0 1px;
  border-radius: 0px;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebe7e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fdbf35;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-ghost-secondary:focus {
  background-color: transparent;
}

.ghost {
  opacity: 0.3;
  background: #c8ebfb;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}

.flip-list-enter-active {
  transition: all 0.4s ease;
}
.flip-list-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.flip-list-enter,
.flip-list-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

@media screen and (max-width: 769px) {
  .c-createBtn {
    flex: 0 1 48%;
  }
}

@media screen and (max-width: 455px) {
  .c-createBtn {
    flex: 1 0 100%;
  }
}
</style>