<template>

  <footer class="container pb-10 pb-sm-5">
    <div class="row align-items-center d-flex justify-content-center text-center">
      <!-- Logo -->
      <div>
        <img class="brand" src="/assets/images/strive_impact.svg" alt="Logo">
      </div>
    </div>
  </footer>

</template>
