<template>
  <section v-if="userData.username " id="userData" class="position-relative ps-2 pe-2 pb-lg-5 pb-3">

    <div class="d-flex ms-2 me-2 col-12">
      <div class="mb-3 mb-sm-0 text-start">
        <div class="avatar c-avatar-xxxl avatar-circle">
          <img v-if="userData.image" class="avatar-img" :src="userData.image.source">
          <img v-else class="avatar-img" src="/assets/images/blank-profile.png">
        </div>
      </div>
      <div class="ms-4 text-start">
        <h4 class="mb-2">@{{ userData.username }}</h4>
        <h6 class="mb-1">{{ userData.name }}</h6>
        <p class="card-desc mb-2">{{ userData.description }}</p>
      </div>
    </div>
  </section>

  <section v-else id="userData1" class="position-relative ps-2 pe-2">
    <div class="d-flex ms-2 me-2 mx-md-auto col-12">
      <div class="mb-3 mb-sm-0 text-start">
        <div class="avatar avatar-xxl avatar-circle">
          <img src="" class="avatar-img">
        </div>
      </div>
      <div class="d-flex flex-column w-100 ms-2 text-start">
        <h4 class="mb-1"></h4>
        <h6 class="mb-1"></h6>
        <p class="card-desc mb-2"></p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    userData: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped lang="scss">
.c-avatar-xxxl {
  width: 150px;
  height: 150px;
}

.c-avatarUser {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.c-colorarrow {
  color: #fdbf35;
}

.bg-purple {
  background-color: #8631cc;
}

.text-yellow {
  color: #fdbf35 !important;
  font-weight: 400 !important;
}

.c-borderInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-break: break-all;
}

.avatar-img {
  border-radius: 50% !important;
}

.card-desc {
  font-size: 16px;
}

#userData1 {
  .avatar {
    background-color: #ddd;
    animation: pulse-bg 1s infinite;
  }
  h4 {
    content: " ";
    width: 100%;
    height: 24px;
    background-color: #ddd;
    margin: 10px 0;
    animation: pulse-bg 1s infinite;
  }
  h6 {
    content: " ";
    width: 80%;
    height: 24px;
    background-color: #ddd;
    margin: 10px 0;
    animation: pulse-bg 1s infinite;
  }
  p {
    content: " ";
    width: 40%;
    height: 24px;
    background-color: #ddd;
    margin: 10px 0;
    animation: pulse-bg 1s infinite;
  }
}

@media screen and (max-width: 767px) {
  .c-avatarUser {
    width: 100%;
  }

  .c-avatar-xxxl {
    width: 100px;
    height: 100px;
  }

  .card-title {
    font-size: 18px;
  }
  .card-desc {
    font-size: 15px;
  }
}
</style>