<template>
  <ul class="nav nav-segment mb-7 d-none d-sm-inline-flex">
    <li class="nav-item">
      <router-link class="nav-link border-0" :to="`/link/${linkId}/analytics`">
        <BootstrapIcon icon="graph-up-arrow" size="md" /> Analitycs
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link border-0 mobile-nav" :to="`/link/${linkId}/builder`">
        <BootstrapIcon icon="boxes" size="md" /> Builder
      </router-link>
    </li>
    <!-- <li class="nav-item">
      <router-link class="nav-link border-0" :to="`/link/${linkId}/settings`">
        <BootstrapIcon icon="eye" size="md" /> Preview
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link border-0 mobile-nav" :to="`/link/${linkId}/settings`">
        <BootstrapIcon icon="link-45deg" size="md" /> Copy Link
      </router-link>
    </li> -->
    <li class="nav-item">
      <router-link class="nav-link border-0" :to="`/link/${linkId}/settings`">
        <BootstrapIcon icon="tools" size="md" /> Settings
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    userName: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      linkId: this.$route.params.id,
    };
  },
};
</script>

<style scoped>
.router-link-active.router-link-exact-active {
  /* color: #8631cc !important; */
  box-shadow: 0 0.1875rem 0.375rem rgba(140, 152, 164, 0.25) !important;
}
</style>