<template>
  <ul class="nav nav-segment mb-0 c-mobile-fixed d-flex d-sm-none p-0">
    <li class="nav-item text-center">
      <router-link class="nav-link border-0" :to="`/link/${linkId}/analytics`">
        <BootstrapIcon icon="graph-up-arrow" size="md" />
        <p class="m-0 mobile-nav">analitycs</p>
      </router-link>
    </li>
    <li class="nav-item text-center">
      <router-link class="nav-link border-0 mobile-nav" :to="`/link/${linkId}/builder`">
        <BootstrapIcon icon="boxes" size="md" />
        <p class="m-0 mobile-nav">builder</p>
      </router-link>
    </li>
    <li class="nav-item text-center">
      <a class="nav-link border-0" :href="`https://getstrive.so/u/${userName}`" target="_blank">
        <BootstrapIcon icon="eye" size="md" />
        <p class="m-0 mobile-nav">preview</p>
      </a>
    </li>
    <li class="nav-item text-center">
      <router-link class="nav-link border-0" :to="`/link/${linkId}/settings`">
        <BootstrapIcon icon="tools" size="md" />
        <p class="m-0 mobile-nav">settings</p>
      </router-link>
    </li>
    <li class="nav-item text-center">
      <a class="nav-link border-0 mobile-nav" :class="{ 'text-success': changeText }" @click="copyUrl(`https://getstrive.so/u/${userName}`)">
        <BootstrapIcon icon="link-45deg" size="md" />
        <p class="m-0 mobile-nav text-success" v-if="changeText">{{ copied }}</p>
        <p class="m-0 mobile-nav" v-else>{{ text }}</p>
      </a>
    </li>
  </ul>
</template>


<script>
import LinkService from "../../../services/links.js";

export default {
  data() {
    return {
      linkId: this.$route.params.id,
      link: "",
      url: "",
      text: "copy link",
      copied: "copied!",
      changeText: false,
    };
  },
  methods: {
    async getLink() {
      if (!this.linkId) {
        return;
      }
      try {
        await LinkService.getLink(this.linkId).then(
          (response) => (this.link = response.data.data)
        );
      } catch (error) {
        this.toast.error(error.message || "Failed to authenticate.");
      }
    },

    copyUrl(url) {
      this.timeoutText();
      this.url = url;
      navigator.clipboard.writeText(this.url);
    },
    timeoutText() {
      this.changeText = true;
      setTimeout(() => {
        this.changeText = false;
      }, 3000);
    },
  },
  computed: {
    userName() {
      return this.link.username;
    },
  },
  created() {
    this.getLink();
  },
};
</script>

<style scoped>
.router-link-active.router-link-exact-active {
  color: #8631cc !important;
  box-shadow: 0 0.1875rem 0.375rem rgba(140, 152, 164, 0.25) !important;
  background-color: rgba(140, 152, 164, 0.2);
  border: 1px solid rgba(134, 49, 204, 0.5) !important;
}
.router-link-active.router-link-exact-active .mobile-nav {
  font-weight: 600 !important;
}
@media screen and (max-width: 767px) {
  .c-mobile-fixed {
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 9999;
  }
}
</style>