<template>
  <button :class="classBtn">
    <BootstrapIcon v-if="icon" :icon="icon" :size="iconSize" :class="iconClass" /> {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
    },
    icon: {
      type: String,
      required: false,
    },
    iconSize: {
      type: String,
      required: false,
    },
    iconClass: {
      type: String,
      required: false,
    },
    classBtn: {
      type: String,
      required: false,
    },
  },
};
</script>