<template>
  <Popper arrow>
    <BootstrapIcon size="sm" icon="info-circle" class="tooltip-icon cursor-pointer" />
    <template #content>
      <small class="m-0 text-white">
        <slot name="content"></slot>
      </small>
    </template>
  </Popper>
</template>

<script>
import Popper from "vue3-popper";

export default {
  components: {
    Popper,
  },
};
</script>


<style>
.popper {
  z-index: 5;
  background: rgba(0, 0, 0) !important;
  padding: 5px 7px 5px 7px !important;
  border-radius: 6px !important;
  border: rgba(3, 11, 116, 0.3);
}

.popper small {
  font-size: 12px;
  line-height: 17px !important;
  width: 150px;
  display: block;
  text-align: left;
}

.popper #arrow:before {
  background: #030b74 !important;
  right: 0;
}

.popper:hover,
.popper:hover > #arrow:before {
  background: #030b74 !important;
}
</style>